Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, azure-pipelines-compliance.yml, azure-pipelines-integration-dartlab.yml, azure-pipelines-integration-scouting.yml, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

crc: trim verbose comments in constant-folding tests
  src/Compilers/CSharp/Test/CSharp15/ChainedRelationalComparisonConstantFoldingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

crc: trim verbose comments in nullable-analysis tests
  src/Compilers/CSharp/Test/CSharp15/ChainedRelationalComparisonNullableAnalysisTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

crc: trim verbose comments in CFG and semantic-model tests
  src/Compilers/CSharp/Test/CSharp15/ChainedRelationalComparisonControlFlowTests.cs
  src/Compilers/CSharp/Test/CSharp15/ChainedRelationalComparisonSemanticModelTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

PR feedback
  src/Compilers/Core/CodeAnalysisTest/InvokeUtil.cs
  src/Tools/ExternalAccess/RazorTest/RazorAnalyzerAssemblyResolverTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

crc: add CFG-shape signpost comments in VisitChainedRelationalComparison
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add Ternary comparison operator feature entry
  docs/Language Feature Status.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Merge semantic diagnostic passes when member-edit analysis is not applicable
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.IncrementalMemberEditAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_GetDiagnosticsForSpan.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

PR feedback
  src/Analyzers/Core/Analyzers/RemoveUnnecessarySuppressions/SuppressMessageAttributeState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SuppressMessageAttributeState.cs
  src/Compilers/Test/Core/Diagnostics/SuppressMessageAttributeTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Address CG alerts on release/dev17.11
  eng/Versions.props
  eng/common/sdl/packages.config
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Address CG alerts on release/dev17.8
  eng/Versions.props
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Address CG alerts on release/dev16.11-vs-deps
  eng/Versions.props
  eng/common/post-build/global.json
  global.json
  src/Compilers/Core/MSBuildTaskTests/Microsoft.Build.Tasks.CodeAnalysis.UnitTests.csproj
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/CSharpCodeFixVerifier`2+Test.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeFixVerifier`2+Test.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Back off source-build-breaking package updates
  eng/Versions.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Restore VS2019-compatible SDK pin
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

crc: gate generic-constrained-operator tests to CoreClr
  src/Compilers/CSharp/Test/CSharp15/ChainedRelationalComparisonEmitTests.cs
  src/Compilers/CSharp/Test/CSharp15/ChainedRelationalComparisonTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Rename 'Ternary comparison operator' to 'Chained relational comparison'
  docs/Language Feature Status.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Restore VS2019-compatible MSBuild packages
  eng/Versions.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Hoist TemporaryArray builders out of NavigateToSearchInfo.Create loop
  src/Workspaces/Core/Portable/FindSymbols/TopLevelSyntaxTree/NavigateToSearchIndex.NavigateToSearchInfo.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Revert eng/common post-build SDK change
  eng/common/post-build/global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Revert eng/common Guardian update
  eng/common/sdl/packages.config
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Match eng/common post-build file formatting
  eng/common/post-build/global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Mark new labeled break/continue public APIs as experimental
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use DateTimeOffset
  src/Compilers/Server/VBCSCompiler/BuildServerController.cs
  src/Compilers/Server/VBCSCompiler/CompilationCache.cs
  src/Compilers/Server/VBCSCompilerTests/CompilationCacheTests.cs
  src/Compilers/Server/VBCSCompilerTests/VBCSCompilerServerTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add parsing tests for 'break default' and 'continue default'
  src/Compilers/CSharp/Test/Syntax/Parsing/LabeledBreakContinueParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Scope Update method experimental marking to field-level only
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Revert "Unsafe evolution: make pointers safe regardless of memory safety rule…"
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 11.md
  src/Compilers/CSharp/Portable/Binder/Binder_Unsafe.cs
  src/Compilers/CSharp/Test/CSharp15/UnsafeEvolutionTests.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
  src/Compilers/CSharp/Test/Emit2/Emit/NumericIntPtrTests.cs
  src/Compilers/CSharp/Test/Emit3/Attributes/AttributeTests.cs
  src/Compilers/CSharp/Test/Emit3/PartialEventsAndConstructorsTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ParamsCollectionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ISizeOfExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_StackAllocArrayCreationAndInitializer.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/GlobalUsingDirectiveTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ImplicitObjectCreationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocSpanExpressionsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/UsedAssembliesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/PartialPropertiesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/EnumTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/UsingAliasTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AnonymousFunctionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExtensionsParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/FileModifierParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingErrorRecoveryTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/UsingDirectiveParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Unsafe evolution: fixup failing tests
  src/Compilers/CSharp/Test/CSharp15/UnsafeEvolutionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add parsing tests for target-typed static member access
  src/Compilers/CSharp/Test/CSharp15/TargetTypedStaticMemberAccessParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add more parsing tests for target-typed static member access
  src/Compilers/CSharp/Test/CSharp15/TargetTypedStaticMemberAccessParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Improve code
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodeExtensions.cs
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator.cs
  src/Compilers/CSharp/Portable/Emitter/Model/SymbolAdapter.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.Variables.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/ClosureConversion.cs
  src/Compilers/CSharp/Portable/Parser/SlidingTextWindow.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNode.Iterators.cs
  src/Compilers/Core/Portable/Text/SourceText.cs
  src/Compilers/Core/Portable/Text/SourceTextStream.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add grammar-type-position parsing tests
  src/Compilers/CSharp/Test/CSharp15/TargetTypedStaticMemberAccessParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add tests pinning statement-scope behavior of leading `.X`
  src/Compilers/CSharp/Test/CSharp15/TargetTypedStaticMemberAccessParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add tests for name-position and generic-argument type positions
  src/Compilers/CSharp/Test/CSharp15/TargetTypedStaticMemberAccessParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix AzDO CI detection in a script
  eng/ensure-sources-synced.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add support for consumption of union member provider factory methods (#83208)
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedImplicitConversions.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Test/CSharp15/UnionsTests.cs
  src/Compilers/Core/Portable/Operations/CommonConversion.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix parser regression: `?.` and `?[` misinterpreted as ternary in case-label when-clauses
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/CSharp15/TargetTypedStaticMemberAccessParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Make it more explicit anyway
  azure-pipelines.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Ignore xlf files
  eng/ensure-sources-synced.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Rework case-label `?.` / `?[` fix: use a post-parse reinterpret in `ParseWhenClause`
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/CSharp15/TargetTypedStaticMemberAccessParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move nested-ternary case-label test into an actual case-label context
  src/Compilers/CSharp/Test/CSharp15/TargetTypedStaticMemberAccessParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml
