Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

azure-pipelines-integration-corehost.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - oop64bit: true
        lspEditor: false
  ...

azure-pipelines-integration.yml:
  stages:
  - stage: Debug_Integration
    dependsOn: []
    variables:
    - name: XUNIT_LOGS
      value: $(Build.SourcesDirectory)\artifacts\log\Debug
    jobs:
    - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - job: VS_Integration_Debug_32
        pool:
          name: ${{ parameters.poolName }}
  ...

azure-pipelines/microbuild.yml:
  jobs:
  - template: build.yml
    parameters:
      windowsPool: VSEng-MicroBuildVS2019

azure-pipelines/unofficial.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate
    parameters:
      sdl:
        sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
        suppression:
          suppressionFile: $(System.DefaultWorkingDirectory)\azure-pipelines\falsepositives.gdnsuppress
  ...

Validate generator diagnostics after incremental updates
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

[release/dev17.12] Include the PME service name for scheduled builds (#82108)
  azure-pipelines-integration.yml
  azure-pipelines-official.yml
  azure-pipelines.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove stage dependency (#82106)
  azure-pipelines-integration.yml
  azure-pipelines-official.yml
  azure-pipelines.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Document how to resolve version conflicts in test projects #1241 (#1247)
  src/Microsoft.CodeAnalysis.Testing/README.md
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove more unnecessary comments.
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use specific LangVersion in breaking change (#82099)
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 11.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Delete unused VS Xaml LSP support
  src/LanguageServer/Protocol/WellKnownLspServerKinds.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageClient/XamlCapabilities.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageClient/XamlInProcLanguageClient.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageClient/XamlInProcLanguageClientDisableUX.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/ExportStatelessXamlLspServiceAttribute.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Extensions/SolutionExtensions.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Extensions/SymbolExtensions.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/CodeActions/CodeActionsHandlerProvider.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Commands/CreateEventCommandHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionResolveData.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionResolveHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Definitions/GoToDefinitionHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Diagnostics/DocumentPullDiagnosticHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Diagnostics/WorkspacePullDiagnosticHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/FoldingRanges/FoldingRangesHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Formatting/AbstractFormatDocumentHandlerBase.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Formatting/FormatDocumentHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Formatting/FormatDocumentOnTypeHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Formatting/FormatDocumentRangeHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Hover/HoverHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/OnAutoInsert/OnAutoInsertHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/OnTypeRename/OnTypeRenameHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlLifeCycleManager.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlLspServiceProvider.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlLspWorkspaceManagerFactory.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlRequestExecutionQueue.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlRequestExecutionQueueProvider.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlRequestTelemetryLoggerFactory.cs
  src/VisualStudio/Xaml/Impl/StringConstants.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Improve formatting
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove unused TS external access APIs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/Api/AbstactVSTypeScriptLspServiceFactory.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/Api/AbstractVSTypeScriptRequestHandler.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/Api/ExportTypeScriptLspRequestHandlerProviderAttribute.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptInProcLanguageClientCapabilitiesProvider.cs
  src/EditorFeatures/Test/LanguageServer/VSTypeScriptHandlerTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix setting checksum algorithm when mapping projects (#82051)
  src/Features/ExternalAccess/HotReload/Api/HotReloadMSBuildWorkspace.cs
  src/Features/ExternalAccess/HotReload/InternalAPI.Unshipped.txt
  src/Features/ExternalAccess/HotReloadTest/HotReloadMSBuildWorkspaceTests.cs
  src/Features/ExternalAccess/HotReloadTest/Microsoft.CodeAnalysis.ExternalAccess.HotReload.UnitTests.csproj
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

delete stale comment
  src/Tools/ExternalAccess/Razor/Features/Testing/RazorTestLanguageServerFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

🦭
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptInProcLanguageClient.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptInProcLanguageClientCapabilitiesProvider.cs
  src/EditorFeatures/Core/LanguageServer/AlwaysActivateInProcCapabilitiesProvider.cs
  src/EditorFeatures/Core/LanguageServer/LiveShareCapabilitiesProvider.cs
  src/EditorFeatures/Core/LanguageServer/RazorInProcLanguageClientCapabilitiesProvider.cs
  src/Tools/ExternalAccess/Razor/Features/Testing/RazorTestCapabilitiesProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix version numbers
  docs/Language Feature Status.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Localized file check-in by OneLocBuild Task: Build definition ID 327: Build ID 2885645
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Localized file check-in by OneLocBuild Task: Build definition ID 327: Build ID 2885645
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Refactor attribute filtering in PE symbols
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Record completion of "collection expression arguments" (#82097)
  docs/Language Feature Status.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

fix parameter attribute filtering
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Check attributes in a similar order as in the original code
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Simplify expected exception message computation
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Improve code
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/SymbolIsBannedAnalyzerBase.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/UnitTests/SymbolIsBannedAnalyzerTests.cs
  src/RoslynAnalyzers/Test.Utilities/WorkItemAttribute.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Improve code and tests
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Await.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/ForEachEnumeratorInfo.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/Symbols/FieldSymbol.cs
  src/Compilers/CSharp/Test/CSharp15/UnsafeEvolutionTests.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Handle ITuple
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Test/CSharp15/UnsafeEvolutionTests.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Simplify ReportOperatorUseSiteDiagnostics
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Audit ReportUseSite
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/CSharp15/UnsafeEvolutionTests.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxNodeCache.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxNodeCache.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

remove unnecessary import
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxNodeCache.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

revert workaround for file downloader
  src/VisualStudio/Core/Def/Storage/FileDownloader.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Support marking syntax node types and fields as experimental.
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xsd
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/Core/Portable/InternalUtilities/RoslynExperiments.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/Model/Field.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/Model/TreeType.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/TestWriter.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix Call Hierarchy cross-thread exception when displaying field initializers
  src/VisualStudio/CSharp/Test/CallHierarchy/CSharpCallHierarchyTests.cs
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyProvider.cs
  src/VisualStudio/Core/Def/CallHierarchy/FieldInitializerItem.cs
  src/VisualStudio/TestUtilities2/CallHierarchy/CallHierarchyTestState.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix wrong capabilities provider loading
  src/EditorFeatures/Core/LanguageServer/AlwaysActivateInProcCapabilitiesProvider.cs
  src/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Mark collection expression nodes as experimental, suppress where necessary.
  src/Analyzers/CSharp/Analyzers/UseCollectionInitializer/CSharpUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/UseCollectionExpression/CSharpCollectionExpressionRewriter.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests_WithElement_ArraysAndSpans.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests_WithElement_Constructor.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests_WithElement_Extra.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests_WithElement_Nullable.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/NamedParameterCompletionProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/WithElementSignatureHelpProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/WithElementSyntaxExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Support marking IOperation types as experimental.
  src/Compilers/Core/Portable/Generated/FlowAnalysis.Generated.cs
  src/Compilers/Core/Portable/Generated/OperationKind.Generated.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/IOperationClassWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/Model.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Mark collection expression arguments IOperation types as experimental
  src/Compilers/Core/Portable/Generated/OperationKind.Generated.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Core/Compilation/ControlFlowGraphVerifier.cs
  src/Compilers/Test/Core/Compilation/OperationTreeVerifier.cs
  src/Compilers/Test/Core/Compilation/TestOperationVisitor.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update canary instructions
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add a missing using to builder
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Address feedback
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

WIP
  src/Compilers/CSharp/Portable/Symbols/MetadataOrSourceOrRetargetingAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingAssemblySymbol.cs
Due: azure-pipelines-integration.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, azure-pipelines-compliance.yml, azure-pipelines-integration-dartlab.yml, azure-pipelines-integration-scouting.yml, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
