Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, azure-pipelines-compliance.yml, azure-pipelines-integration-dartlab.yml, azure-pipelines-integration-scouting.yml, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

fix tests
  src/LanguageServer/Protocol/Features/Options/CompletionOptionsStorage.cs
  src/LanguageServer/ProtocolUnitTests/Configuration/DidChangeConfigurationNotificationHandlerTest.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update CCA
  .github/copilot-instructions.md
  .github/scripts/setup-copilot-skills.sh
  .github/workflows/copilot-setup-steps.yml
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use easier plugin management
  .github/scripts/setup-copilot-skills.sh
  .github/workflows/copilot-setup-steps.yml
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Feedback
  .github/workflows/copilot-setup-steps.yml
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Also test with a null `composition`
  src/LanguageServer/Protocol.TestUtilities/AbstractLspMiscellaneousFilesWorkspaceTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Document how to install the C# LSP in GitHub Copilot
  docs/roslyn-language-server-copilot-plugin.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Copy modified test to subtype
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/FileBasedProgramsWorkspaceTests.cs
  src/LanguageServer/Protocol.TestUtilities/AbstractLspMiscellaneousFilesWorkspaceTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Include branch in the cache key
  eng/pipelines/cache-roslyn-outputs.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix more leaks by Copilot
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPrintMembers.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordToString.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix more leaks by Copilot
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

For more leaks by Copilot
  src/Compilers/CSharp/Portable/Binder/Imports.cs
  src/Compilers/CSharp/Portable/Emitter/Model/SymbolAdapter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
  src/Compilers/Core/Portable/Operations/OperationExtensions.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder_Expressions.vb
  src/Compilers/VisualBasic/Portable/Emit/SymbolAdapter.vb
  src/Compilers/VisualBasic/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/CompilationEventTests.vb
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
  src/Scripting/Core/Script.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Avoid unnecessary skips
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IAnonymousFunctionExpression.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/Test/Core/Assert/ValidatePooledObjectsAttribute.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Unions: Support inheritance for TryGetValue methods (#82884)
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Test/CSharp15/UnionsTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Localized file check-in by OneLocBuild Task: Build definition ID 327: Build ID 2938546
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.cs.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.de.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.es.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.fr.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.it.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ja.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ko.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.pl.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.pt-BR.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ru.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.tr.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.zh-Hans.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.zh-Hant.xlf
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Localized file check-in by OneLocBuild Task: Build definition ID 327: Build ID 2938546
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Localized file check-in by OneLocBuild Task: Build definition ID 327: Build ID 2938546
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Localized file check-in by OneLocBuild Task: Build definition ID 327: Build ID 2938546
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Localized file check-in by OneLocBuild Task: Build definition ID 327: Build ID 2938546
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Localized file check-in by OneLocBuild Task: Build definition ID 327: Build ID 2938546
  src/VisualStudio/Core/Def/xlf/Commands.vsct.cs.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.de.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.es.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.fr.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.it.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.ja.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.ko.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.pl.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.ru.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.tr.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.zh-Hant.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Modify TextLine.End to no longer be computed.
  src/Compilers/Core/Portable/Text/TextLine.cs
  src/Tools/IdeCoreBenchmarks/TextLinePropertyAccessBenchmark.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Pack newline length into top two bits of _end
  src/Compilers/Core/Portable/Text/TextLine.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix more leaks by Copilot
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Symbols/AssemblySymbol.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/AdditionalSourcesCollectionTests.cs
  src/Compilers/Core/CodeAnalysisTest/CommonCommandLineParserTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/DocumentationCommentId.cs
  src/Compilers/Core/Portable/PEWriter/Miscellaneous.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorAdaptor.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/HostOutputNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/ISyntaxStrategy.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/PredicateSyntaxStrategy.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SourceOutputNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SyntaxReceiverStrategy.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/TransformNode.cs
  src/Compilers/Core/Portable/SourceGeneration/SyntaxStore.cs
  src/Compilers/Core/Portable/Text/LargeText.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Scripting/Core/Utilities/ParameterValidationHelpers.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Skip some leak validation by Copilot
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenConstructorInitTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenExprLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit3/Attributes/AttributeTests_NativeInteger.cs
  src/Compilers/CSharp/Test/Emit3/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Emit3/Diagnostics/GetDiagnosticsTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests5.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AwaitExpressionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableConversionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CorLibrary/CorTypes.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Metadata/PE/NoPia.cs
  src/Compilers/Test/Core/Assert/ValidatePooledObjectsAttribute.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/ArrayLiteralTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/OverloadResolutionPriorityTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/ScriptSemanticsTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/TypeArgumentInference.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/SymbolErrorTests.vb
  src/Compilers/VisualBasic/Test/Syntax/Parser/ParserRegressionTests.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix more leaks by Copilot
  src/Compilers/CSharp/Portable/BoundTree/BoundNodeExtensions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Unskip validation where unnecessary
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix more leaks by Copilot
  src/Compilers/CSharp/Test/Emit/Emit/NoPiaEmbedTypes.cs
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeResolutionTests.cs
  src/Compilers/Core/Portable/MetadataReference/AssemblyIdentity.DisplayName.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/WinMdEventTest.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/Symbols/EEMethodSymbol.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/ExpressionCompilerTestBase.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/ExpressionCompilerTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Clarify
  .github/skills/snap/SKILL.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Rename member to better represent contents
  src/Compilers/Core/Portable/Text/TextLine.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use `git commit-tree`
  .github/skills/snap/SKILL.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use Git worktrees
  .github/skills/snap/SKILL.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix hardcoded ref names
  .github/skills/snap/SKILL.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add worktree to dictionary
  .vscode/settings.json
Due: none

Bump version to 5.7.0
  eng/Versions.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Set insertionCreateDraftPR to true
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update Microsoft.CodeAnalysis.Analyzers.sarif version 5.6.0 -> 5.7.0
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.sarif
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update Microsoft.CodeAnalysis.BannedApiAnalyzers.sarif version 5.6.0 -> 5.7.0
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers.sarif
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers.sarif version 5.6.0 -> 5.7.0
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers.sarif
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update Microsoft.CodeAnalysis.PublicApiAnalyzers.sarif version 5.6.0 -> 5.7.0
  src/RoslynAnalyzers/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.sarif
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update Roslyn.Diagnostics.Analyzers.sarif version 5.6.0 -> 5.7.0
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/Roslyn.Diagnostics.Analyzers.sarif
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update Text.Analyzers.sarif version 5.6.0 -> 5.7.0
  src/RoslynAnalyzers/Text.Analyzers/Text.Analyzers.sarif
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml
