Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

azure-pipelines-integration-corehost.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - oop64bit: true
        lspEditor: false
  ...

azure-pipelines-integration.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  ...

azure-pipelines.yml:
  stages:
  - stage: Windows_Debug_Build
    dependsOn: []
    jobs:
    - template: eng/pipelines/build-windows-job.yml
      parameters:
        jobName: Build_Windows_Debug
        testArtifactName: Transport_Artifacts_Windows_Debug
        configuration: Debug
        queueName: windows.vs2022preview.amd64.open
  ...

azure-pipelines/microbuild.yml:
  jobs:
  - template: build.yml
    parameters:
      windowsPool: VSEng-MicroBuildVS2019

azure-pipelines/official.yml:
  extends:
    ${{ if or(parameters.ForceOfficialBuild, eq(variables['Build.Reason'],'Schedule')) }}:
      template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
      parameters:
        sdl:
          sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
          codeSignValidation:
  ...

azure-pipelines/unofficial.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate
    parameters:
      sdl:
        sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
        suppression:
          suppressionFile: $(System.DefaultWorkingDirectory)\azure-pipelines\falsepositives.gdnsuppress
  ...

Update src/EditorFeatures/CSharp/Microsoft.CodeAnalysis.CSharp.EditorFeatures.csproj
  src/EditorFeatures/CSharp/Microsoft.CodeAnalysis.CSharp.EditorFeatures.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Filter out CompilerFeatureRequired and Obsolete attribute from method symbols (#78313)
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadOnlySpanConstructionTest.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/RequiredMembersTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PEMethodSymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/RequiredMembersTests.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

use passed in CT
  src/VisualStudio/Core/Impl/CodeModel/ProjectCodeModelFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Add dump reporting for https://github.com/dotnet/roslyn/issues/76225 (#78354) (#78367)
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Revert
  src/VisualStudio/CodeLens/Microsoft.VisualStudio.LanguageServices.CodeLens.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix
  src/VisualStudio/Core/Def/SemanticSearch/SemanticSearchFeatureFlag.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

update comment (again!)
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Move Range and Index to Contracts source package (#78371)
  src/Dependencies/Contracts/Index.cs
  src/Dependencies/Contracts/Microsoft.CodeAnalysis.Contracts.projitems
  src/Dependencies/Contracts/Range.cs
  src/Tools/SemanticSearch/BuildTask/SemanticSearch.BuildTask.csproj
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

update bannedsymbols.txt comments
  eng/config/BannedSymbols.txt
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/BannedSymbols.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix and report more data
  src/Features/Core/Portable/Copilot/CopilotChangeAnalysis.cs
  src/Features/Core/Portable/Copilot/ICopilotChangeAnalysisService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Do not leak cancellation exception for our own operation
  src/EditorFeatures/Core/AutomaticCompletion/BraceCompletionSessionProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Delete ImmutableListExtensions
  Roslyn.sln
  src/Analyzers/CSharp/CodeFixes/MakeFieldReadonly/CSharpMakeFieldReadonlyCodeFixProvider.cs
  src/Analyzers/VisualBasic/CodeFixes/MakeFieldReadonly/VisualBasicMakeFieldReadonlyCodeFixProvider.vb
  src/Compilers/Core/Portable/InternalUtilities/ImmutableListExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Move types to Microsoft.CodeAnalysis.Collections
  src/Dependencies/Collections/BitVector.cs
  src/Dependencies/Collections/ConcurrentSet.cs
  src/Dependencies/Collections/ConsList`1.cs
  src/Dependencies/Collections/IOrderedReadOnlySet.cs
  src/Dependencies/Collections/ImmutableSetWithInsertionOrder`1.cs
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.Package.csproj
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.projitems
  src/Dependencies/Collections/MultiDictionary.cs
  src/Dependencies/Collections/OneOrMany.cs
  src/Dependencies/Collections/OrderedMultiDictionary.cs
  src/Dependencies/Collections/SetWithInsertionOrder.cs
  src/Dependencies/Collections/SpecializedCollections.Empty.Collection.cs
  src/Dependencies/Collections/SpecializedCollections.Empty.Dictionary.cs
  src/Dependencies/Collections/SpecializedCollections.Empty.Enumerable.cs
  src/Dependencies/Collections/SpecializedCollections.Empty.Enumerator.cs
  src/Dependencies/Collections/SpecializedCollections.Empty.Enumerator`1.cs
  src/Dependencies/Collections/SpecializedCollections.Empty.List.cs
  src/Dependencies/Collections/SpecializedCollections.Empty.Set.cs
  src/Dependencies/Collections/SpecializedCollections.Empty.cs
  src/Dependencies/Collections/SpecializedCollections.ReadOnly.Collection.cs
  src/Dependencies/Collections/SpecializedCollections.ReadOnly.Enumerable`1.cs
  src/Dependencies/Collections/SpecializedCollections.ReadOnly.Enumerable`2.cs
  src/Dependencies/Collections/SpecializedCollections.ReadOnly.Set.cs
  src/Dependencies/Collections/SpecializedCollections.Singleton.Collection`1.cs
  src/Dependencies/Collections/SpecializedCollections.Singleton.Enumerator`1.cs
  src/Dependencies/Collections/SpecializedCollections.cs
  src/Dependencies/Collections/TemporaryArray`1.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Handle cache invalidation
  src/VisualStudio/Core/Def/ProjectSystem/MetadataReferences/VisualStudioMetadataReferenceManager.cs
  src/VisualStudio/Core/Def/ProjectSystem/MetadataReferences/VisualStudioPortableExecutableReference.FileTimeStampProvider.cs
  src/VisualStudio/Core/Def/ProjectSystem/MetadataReferences/VisualStudioPortableExecutableReference.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Add conditional access to test plan
  docs/contributing/Compiler Test Plan.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

add compound assignment
  docs/contributing/Compiler Test Plan.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Add legacy workspace eventing APIs to the banned list inside roslyn (#78370)
  eng/config/BannedSymbols.txt
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/BannedSymbols.txt
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Update `RuntimeHelpers.Await` rules (#77957)
  docs/compilers/CSharp/Runtime Async Design.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Reapply "Opt in to the new MicroBuild SBOM behavior"
  Directory.Build.props
  Directory.Build.targets
  azure-pipelines/NuGetSbom.props
  azure-pipelines/NuGetSbom.targets
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Add conditional access to test plan (#78377)
  docs/contributing/Compiler Test Plan.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

1) Fix condition that got inverted 2) Cleanup a using
  src/VisualStudio/Core/Def/ProjectSystem/MetadataReferences/VisualStudioPortableExecutableReference.FileTimeStampProvider.cs
  src/VisualStudio/Core/Def/ProjectSystem/MetadataReferences/VisualStudioPortableExecutableReference.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Report telemetry
  src/EditorFeatures/Core.Wpf/Copilot/CopilotWpfTextCreationListener.cs
  src/Features/Core/Portable/Copilot/ICopilotChangeAnalysisService.cs
  src/Features/Core/Portable/Copilot/IRemoteCopilotChangeAnalysisService.cs
  src/Workspaces/Remote/ServiceHub/Services/Copilot/RemoteCopilotChangeAnalysisService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Lint
  src/EditorFeatures/Core.Wpf/Copilot/CopilotWpfTextCreationListener.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Disable nuget warning new in net10 as is likely false positives for roslyn
  eng/targets/Settings.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Merge cases in ConvertCollectionExpressionElements
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Add tests
  src/EditorFeatures/TestUtilities/Diagnostics/DiagnosticTaggerWrapper.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Optimize work done in ProjectCodeModelFactory (#78369)
  src/VisualStudio/Core/Impl/CodeModel/ProjectCodeModelFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Test failures, fixed a null reference bug.
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CorLibrary/CorTypes.cs
  src/Compilers/Core/CodeAnalysisTest/Symbols/SpecialTypeTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Use ActivationConstraint.FeatureFlag API to control when Semantic Search is enabled (#77133)
  src/VisualStudio/CSharp/Impl/SemanticSearch/OpenSemanticSearchWindowCommand.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/Core/Def/SemanticSearch/SemanticSearchFeatureFlag.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

PR feedback
  src/Compilers/CSharp/Portable/Binder/Binder_Await.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundAwaitableInfo.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEntryPointSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Move ICollectionExtensions to MS.CA.Collections
  src/Dependencies/Collections/Extensions/ICollectionExtensions.cs
  src/Dependencies/Collections/Extensions/IEnumerableExtensions.cs
  src/Dependencies/Collections/Extensions/ImmutableArrayExtensions.cs
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.projitems
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionBatchFixAllProvider.cs
  src/Features/ExternalAccess/Copilot/Internal/Analyzer/AbstractCopilotCodeAnalysisService.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/TestRunner.TestRunHandler.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ExplicitConversionSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamedTypeSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamespaceSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/OperatorSymbolReferenceFinder.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ICollectionExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Collection initializer types
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/DictionaryExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Update src/Tools/ExternalAccess/Razor/Features/Cohost/RazorConfigurationChangedServiceFactory.cs
  src/Tools/ExternalAccess/Razor/Features/Cohost/RazorConfigurationChangedServiceFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix tests
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/DictionaryExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

more
  src/Compilers/CSharp/Test/Emit3/Attributes/AttributeTests.cs
  src/Compilers/CSharp/Test/Emit3/Attributes/AttributeTests_Assembly.cs
  src/Compilers/CSharp/Test/Emit3/OverloadResolutionPriorityTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
