Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Change override completion to select text after updating the buffer. (#76983)
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExplicitInterfaceMemberCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests_ExpressionBody.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PartialMethodCompletionProviderTests.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextViewExtensions.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/CompletionUtilities.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ExplicitInterfaceMemberCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/OverrideCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/PartialMethodCompletionProvider.cs
  src/Features/Core/Portable/Completion/CompletionChange.cs
  src/Features/Core/Portable/Completion/Providers/AbstractMemberInsertingCompletionProvider.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/OverrideCompletionProvider.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Try a different approach that hopefully realizes significantly less of the tree
  src/Compilers/CSharp/Portable/Syntax/SyntaxReplacer.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Implement NoPia support for importing ExtendedLayoutAttribute on types
  src/Compilers/CSharp/Test/Symbol/Symbols/Metadata/PE/NoPia.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/Emit/NoPia/CommonEmbeddedType.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Implement TypeScript ExternalAccess wrappers for AsynchronousOperationListener
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/Api/VSTypeScriptAsynchronousTaggerProvider.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/Api/VSTypeScriptTaggerHost.cs
  src/Workspaces/Core/Portable/ExternalAccess/VSTypeScript/Api/TaskExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/VSTypeScript/Api/VSTypeScriptAsyncToken.cs
  src/Workspaces/Core/Portable/ExternalAccess/VSTypeScript/Api/VSTypeScriptAsynchronousOperationListener.cs
  src/Workspaces/Core/Portable/ExternalAccess/VSTypeScript/Api/VSTypeScriptAsynchronousOperationListenerProvider.cs
  src/Workspaces/Core/Portable/ExternalAccess/VSTypeScript/Api/VSTypeScriptFeatureAttribute.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update .NET SDK
  Directory.Build.props
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update upload-artifact as v1/v2/v3 no longer work
  .github/workflows/build.yml
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Adjust per output of dotnet nuget verify Microsoft.CodeAnalysis.NetAnalyzers.9.0.0.nupkg
  NuGet.config
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Use SDK 8 for now. Using 9 requires moving CI to windows-2022 to have more recent version of VS
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Try with SDK 7
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Enable basic end-to-end scenarios of extension method invocation.
  src/Compilers/CSharp/Portable/BoundTree/BoundTreeRewriter.cs
  src/Compilers/CSharp/Portable/Compiler/MethodBodySynthesizer.Lowered.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Lowering/BoundTreeToDifferentEnclosingContextRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/ExtensionMethodBodyRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/ExtensionMethodReferenceRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorFinallyMethodSymbol.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/DelegateCacheContainer.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/DelegateCacheRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.SynthesizedMethodBase.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionImplementationMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SynthesizedExtensionMarker.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Extension.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedDelegateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedImplementationMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInteractiveInitializerMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSealedPropertyAccessor.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/SynthesizedContextMethodSymbol.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Delete seemingly deadcode
  src/Microsoft.VisualStudio.Extensibility.Testing.Xunit.Shared/InProcess/TestInvoker_InProc.cs
  src/Microsoft.VisualStudio.Extensibility.Testing.Xunit.Shared/OutOfProcess/TestInvoker_OutOfProc.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert back to 6
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix nullability warning
  src/Microsoft.VisualStudio.Extensibility.Testing.SourceGenerator/TestServicesSourceGenerator.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add some more optimizations to see if this improves the perf numbers
  src/Compilers/CSharp/Portable/Syntax/SyntaxReplacer.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Explictly jump off the main thread before serializing data to call Razor
  src/Tools/ExternalAccess/Razor/Cohost/RazorDynamicRegistrationServiceFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Formatting
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Implement retargeting to unblock CI
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingParameterSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Reduce allocations during completion in FilterToVisibleAndBrowsableSymbols (#77315)
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/MetadataUnifyingSymbolHashSet.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/IMethodSymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/IPropertySymbolExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fixup
  src/Compilers/CSharp/Portable/Lowering/ExtensionMethodReferenceRewriter.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Try 4.3.1
  Directory.Build.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Refresh diagnostics when fading options change
  src/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Mix options into diagnostic data checksum
  src/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticsPullCache.cs
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache.CacheItem.cs
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratedDocumentCache.cs
  src/LanguageServer/Protocol/Handler/SpellCheck/SpellCheckPullCache.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Apply suggestions from code review
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

#35696 Build on Docker
  .dockerignore
  .github/workflows/build-on-docker.yml
  Build.ps1
  Dockerfile
  eng-Metalama/DownloadNetSdkAnalyzers/DownloadNetSdkAnalyzers.csproj
  eng-Metalama/DownloadNetSdkAnalyzers/net-sdk-releases.json
  eng-Metalama/src/BuildMetalamaCompiler.csproj
  eng-Metalama/src/Program.cs
  eng-Metalama/src/RoslynSolution.cs
  eng/build.sh
  src/NuGet/Microsoft.Net.Compilers.Toolset/AnyCpu/Metalama.Compiler.Package.csproj
  src/NuGet/Microsoft.Net.Compilers.Toolset/MetalamaCompilerArtifacts.targets
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Exclude generated files from compilation by default
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add XML Solution (SLNX) support to MSBuildWorkspace
  eng/Directory.Packages.props
  eng/Versions.props
  src/Workspaces/MSBuild/Core/MSBuild/MSBuildProjectLoader.SolutionReader.cs
  src/Workspaces/MSBuild/Core/MSBuild/MSBuildProjectLoader.cs
  src/Workspaces/MSBuild/Core/Microsoft.CodeAnalysis.Workspaces.MSBuild.csproj
  src/Workspaces/MSBuild/Core/WorkspaceMSBuildResources.resx
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.cs.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.de.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.es.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.fr.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.it.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.ja.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.ko.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.pl.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.pt-BR.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.ru.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.tr.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.zh-Hans.xlf
  src/Workspaces/MSBuild/Core/xlf/WorkspaceMSBuildResources.zh-Hant.xlf
  src/Workspaces/MSBuild/Test/Resources/XmlSolutions/CSharpXmlSolution.slnx
  src/Workspaces/MSBuild/Test/Resources/XmlSolutions/InvalidXmlSolution.slnx
  src/Workspaces/MSBuild/Test/TestFiles/Resources.cs
  src/Workspaces/MSBuild/Test/VisualStudioMSBuildWorkspaceTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Attempt optimization via only updating visitation criteria
  src/Compilers/CSharp/Portable/Syntax/SyntaxReplacer.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add VisitList optimization to criteria update optimization
  src/Compilers/CSharp/Portable/Syntax/SyntaxReplacer.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update Microsoft.CSharp.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

cleanup
  src/Features/CSharp/Portable/Copilot/CSharpCopilotNotImplementedMethodFixProvider.Analyzer.cs
  src/Features/CSharp/Portable/Copilot/CSharpCopilotNotImplementedMethodFixProvider.CopilotCodeProvider.cs
  src/Features/Core/Portable/MethodImplementation/MethodImplementationParameterContext.cs
  src/Features/Core/Portable/MethodImplementation/MethodImplementationParameterInfo.cs
  src/Features/Core/Portable/MethodImplementation/MethodImplementationProposal.cs
  src/Features/Core/Portable/MethodImplementation/MethodImplementationProposedEdit.cs
  src/Features/Core/Portable/MethodImplementation/MethodImplementationReferenceContext.cs
  src/Features/ExternalAccess/Copilot/GenerateMethod/CopilotMethodImplementationProposedEditWrapper.cs
  src/Features/ExternalAccess/Copilot/GenerateMethod/CopilotMethodImplementationTagType.cs
  src/Features/ExternalAccess/Copilot/GenerateMethod/IExternalCSharpCopilotGenerateImplementationService.cs
  src/Features/ExternalAccess/Copilot/GenerateMethod/MethodImplementationParameterContextWrapper.cs
  src/Features/ExternalAccess/Copilot/GenerateMethod/MethodImplementationProposalWrapper.cs
  src/Features/ExternalAccess/Copilot/GenerateMethod/MethodImplementationReferenceContextWrapper.cs
  src/Features/ExternalAccess/Copilot/Internal/Analyzer/CSharp/CSharpCopilotCodeAnalysisService.cs
  src/Features/ExternalAccess/Copilot/InternalAPI.Unshipped.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Support 'view call hierarchy' on primary consstructor
  src/Features/Core/Portable/FindUsages/FindUsagesHelpers.cs
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyCommandHandler.cs
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyItem.cs
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyProvider.cs
  src/Workspaces/Core/Portable/Rename/RenameUtilities.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SemanticFacts/ISemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SemanticFacts/VisualBasicSemanticFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Arrays
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyItem.cs
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

cleanup tests
  src/VisualStudio/CSharp/Test/CallHierarchy/CSharpCallHierarchyTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add test
  src/VisualStudio/CSharp/Test/CallHierarchy/CSharpCallHierarchyTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Docs
  src/Features/Core/Portable/FindUsages/FindUsagesHelpers.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

NRT
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyCommandHandler.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

update configs for 17.14p2 snap
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml
