Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode

Docs
  src/Features/Core/Portable/Diagnostics/CodeAnalysisDiagnosticAnalyzerService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove the UI from legacy rename control
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Dashboard/RenameDashboard.xaml.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Dashboard/RenameDashboardViewModel.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/InlineRenameAdornmentManager.cs
  src/EditorFeatures/Test2/Rename/RenameViewModelTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

File types need to account for pathmap (#70322)
  src/Compilers/CSharp/Portable/Binder/BinderFactory.cs
  src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.IncludeElementExpander.cs
  src/Compilers/CSharp/Portable/Symbols/FileIdentifier.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
  src/Compilers/Core/CommandLine/BuildProtocol.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTree.cs
  src/Tools/BuildValidator/DemoLogger.cs
  src/Tools/TestDiscoveryWorker/Program.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix test reference
  src/Tools/ExternalAccess/EditorConfigGeneratorWrapper/Microsoft.CodeAnalysis.ExternalAccess.EditorConfigGenerator.csproj
  src/VisualStudio/Core/Test/Microsoft.VisualStudio.LanguageServices.UnitTests.vbproj
  src/VisualStudio/Core/Test/Options/BasicEditorConfigGeneratorTests.vb
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix classification layering
  src/EditorFeatures/Core.Wpf/Classification/ClassificationTypeFormatDefinitions.cs
  src/EditorFeatures/Core/Classification/Syntactic/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/EditorFeatures/Core/Shared/Utilities/AbstractClassificationTypeMap.cs
  src/EditorFeatures/Core/Shared/Utilities/ClassificationTypeMap.cs
  src/EditorFeatures/Core/Shared/Utilities/SyntacticClassificationTypeMap.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Do not report errors for bad optional symbol
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Collection expressions: spread elements are not expressions
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove not existing folder
  src/Compilers/VisualBasic/Portable/Microsoft.CodeAnalysis.VisualBasic.vbproj
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add scrolling function
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyout.xaml
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyout.xaml.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Dashboard/RenameDashboard.xaml
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameViewModel.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Simplify and fix comment
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_ConditionalExpressions.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

add key
  Roslyn.sln
  eng/targets/Settings.props
  src/Tools/ExternalAccess/EditorConfigGenerator/Api/IEditorConfigGenerator.cs
  src/Tools/ExternalAccess/EditorConfigGenerator/EditorConfigGenerator.cs
  src/Tools/ExternalAccess/EditorConfigGenerator/Microsoft.CodeAnalysis.ExternalAccess.EditorConfigGenerator.csproj
  src/VisualStudio/Core/Test/Microsoft.VisualStudio.LanguageServices.UnitTests.vbproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add resources
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyout.xaml.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameControl.xaml
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameViewModel.cs
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add document-level document symbol result that has the hierarchy
  src/Features/Lsif/Generator/Generator.cs
  src/Features/Lsif/Generator/Graph/DocumentSymbolResult.cs
  src/Features/Lsif/Generator/Graph/RangeBasedDocumentSymbol.cs
  src/Features/Lsif/GeneratorTest/DocumentSymbolTests.vb
  src/Features/Lsif/GeneratorTest/OutputFormatTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Rename
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyoutViewModel.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameControl.xaml.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameViewModel.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Suppress warning in prod code
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyoutViewModel.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/InlineRenameAdornmentManager.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/InlineRenameAdornmentProvider.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameViewModel.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Suppress warning in test code
  src/EditorFeatures/Test2/Rename/RenameViewModelTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

more experimenting with moving tasks to jobs
  azure-pipelines-integration.yml
  eng/pipelines/test-integration-build-job.yml
  eng/pipelines/test-integration-test-job.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add logging to LSP completion handler
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix Inline temporary variable adds unnecessary cast
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
  src/Features/CSharpTest/InlineTemporary/InlineTemporaryTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

undo space remove unused using
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update README.md
  README.md
Due: none

Graceful VB
  src/Compilers/VisualBasic/Portable/Binding/Binder.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_ConditionalExpressions.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_LateBindingHelpers.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_NullableHelpers.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Better C# match
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert "Restore "Do source-generation only in our OOP process""
  eng/targets/Services.props
  src/Compilers/Test/Core/SourceGeneration/TestGenerators.cs
  src/Features/LanguageServer/Protocol/Features/Options/WorkspaceConfigurationOptionsStorage.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/SourceGeneratorItem.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Core/Portable/SourceGeneration/IRemoteSourceGenerationService.cs
  src/Workspaces/Core/Portable/SourceGeneratorTelemetry/SourceGeneratorTelemetryCollectorWorkspaceService.cs
  src/Workspaces/Core/Portable/Workspace/IWorkspaceConfigurationService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker_Generators.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentIdentity.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratorIdentity.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTestHelpers.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
  src/Workspaces/CoreTestUtilities/Remote/InProcRemostHostClient.cs
  src/Workspaces/CoreTestUtilities/WorkspaceTestUtilities.cs
  src/Workspaces/Remote/Core/RemoteHostAssetSerialization.cs
  src/Workspaces/Remote/Core/RemoteWorkspacesResources.resx
  src/Workspaces/Remote/Core/ServiceDescriptors.cs
  src/Workspaces/Remote/Core/SolutionAssetProvider.cs
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.cs.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.de.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.es.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.fr.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.it.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.ja.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.ko.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.pl.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.pt-BR.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.ru.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.tr.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.zh-Hans.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.zh-Hant.xlf
  src/Workspaces/Remote/ServiceHub/Services/SourceGeneration/RemoteSourceGenerationService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix option type to supported int
  src/Features/Core/Portable/CodeAnalysisSuggestions/CodeAnalysisSuggestionsOptionsStorage.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Handle missing ISimplifactionService implementation for non-C#/VB langauges
  src/Features/LanguageServer/ProtocolUnitTests/VSTypeScriptHandlerTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Simplification/SimplifierOptions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fixes
  src/VisualStudio/Core/Def/Diagnostics/VisualStudioCodeAnalysisSuggestionsConfigService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Consider all past and future razor DLL names
  src/Features/Core/Portable/Workspace/CompileTimeSolutionProvider.cs
  src/Tools/ExternalAccess/RazorCompiler/Microsoft.CodeAnalysis.ExternalAccess.RazorCompiler.csproj
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert SDK update
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Release 2023.4 promoted RC.
  eng-Metalama/MainVersion.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

<<VERSION_BUMP>> 2023.4.4 to 2023.4.5
  eng-Metalama/MainVersion.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

make abstract
  src/Features/Core/Portable/ExtractMethod/ExtractMethodResult.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Make sealed
  src/Features/Core/Portable/ExtractMethod/FailedExtractMethodResult.cs
  src/Features/Core/Portable/ExtractMethod/SimpleExtractMethodResult.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix emitting Custom Attribute deltas (#70350)
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/Core/Portable/Collections/ImmutableArrayExtensions.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/DeltaMetadataWriter.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/EmitBaseline.cs
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Make immutable
  src/Features/Core/Portable/ExtractMethod/ExtractMethodResult.cs
  src/Features/Core/Portable/ExtractMethod/OperationStatus.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert VB Binder changes
  src/Compilers/VisualBasic/Portable/Binding/Binder.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_LateBindingHelpers.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove flag
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodBase.cs
  src/EditorFeatures/Core/ExtractMethod/ExtractMethodCommandHandler.cs
  src/Features/Core/Portable/CodeRefactorings/ExtractMethod/AbstractExtractMethodCodeRefactoringProvider.cs
  src/Features/Core/Portable/ExtractMethod/ExtractMethodResult.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix
  src/EditorFeatures/VisualBasicTest/ExtractMethod/ExtractMethodTests.vb
  src/Features/Core/Portable/ExtractMethod/ExtractMethodResult.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Test `ref readonly` local C#
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml
