Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Add helpers to convert presentation elements to VS adornments
  src/EditorFeatures/Core/IntelliSense/PresentationExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move EditorFeaturesOnTheFlyDocsElement to Features layer and rename
  src/EditorFeatures/Core.Wpf/QuickInfo/OnTheFlyDocsView.xaml.cs
  src/EditorFeatures/Core.Wpf/QuickInfo/OnTheFlyDocsViewFactory.cs
  src/EditorFeatures/Core/IntelliSense/QuickInfo/EditorFeaturesOnTheFlyDocsElement.cs
  src/EditorFeatures/Core/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/Features/Core/Portable/QuickInfo/Presentation/QuickInfoOnTheFlyDocsElement.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move IntellisenseQuickInfoBuilderContext to Features layer and rename
  src/EditorFeatures/CSharpTest/QuickInfo/SyntacticQuickInfoSourceTests.cs
  src/EditorFeatures/Core.Wpf/InlineHints/InlineHintsTag.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/IntelliSense/Helpers.cs
  src/EditorFeatures/Core/IntelliSense/NavigationActionFactory.cs
  src/EditorFeatures/Core/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/EditorFeatures/Core/LanguageServer/EditorHoverCreationService.cs
  src/EditorFeatures/Test2/IntelliSense/AbstractIntellisenseQuickInfoBuilderTests.vb
  src/Features/Core/Portable/QuickInfo/Presentation/INavigationActionFactory.cs
  src/Features/Core/Portable/QuickInfo/Presentation/QuickInfoContentBuilderContext.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Rename OnTheFlyDocsElement to OnTheFlyDocsInfo
  src/EditorFeatures/Core.Wpf/QuickInfo/OnTheFlyDocsView.xaml.cs
  src/EditorFeatures/Core.Wpf/QuickInfo/OnTheFlyDocsViewFactory.cs
  src/EditorFeatures/Core/IntelliSense/QuickInfo/EditorFeaturesOnTheFlyDocsElement.cs
  src/EditorFeatures/Core/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/Features/CSharp/Portable/QuickInfo/CSharpSemanticQuickInfoProvider.cs
  src/Features/Core/Portable/QuickInfo/CommonSemanticQuickInfoProvider.cs
  src/Features/Core/Portable/QuickInfo/OnTheFlyDocsInfo.cs
  src/Features/Core/Portable/QuickInfo/QuickInfoItem.cs
  src/Features/Core/Portable/QuickInfo/QuickInfoUtilities.cs
  src/Features/VisualBasic/Portable/QuickInfo/VisualBasicSemanticQuickInfoProvider.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move remaining navigation action logic into NavigationActionFactory
  src/EditorFeatures/Core/IntelliSense/Helpers.cs
  src/EditorFeatures/Core/IntelliSense/NavigationActionFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Clean up IndentationHelper
  src/Features/Core/Portable/QuickInfo/IndentationHelper.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Rewrite BuildInteractiveTextElements
  src/EditorFeatures/Core.Wpf/InlineHints/InlineHintsTag.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/IntelliSense/Helpers.cs
  src/EditorFeatures/Core/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/EditorFeatures/Core/IntelliSense/TaggedTextExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move TaggedTextExtensions to Features layer
  src/EditorFeatures/Core.Wpf/InlineHints/InlineHintsTag.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/IntelliSense/PresentationExtensions.cs
  src/EditorFeatures/Core/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/Features/Core/Portable/QuickInfo/Presentation/TaggedTextExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Clean up and reduce allocations in QuickInfoContentBuilder
  src/Features/Core/Portable/QuickInfo/Presentation/QuickInfoContentBuilder.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move Quick Info's BuildInteractiveContentAsync to Features layer
  src/EditorFeatures/Core/IntelliSense/PresentationExtensions.cs
  src/EditorFeatures/Core/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/EditorFeatures/Core/Shared/Extensions/GlyphExtensions.cs
  src/Features/Core/Portable/QuickInfo/Presentation/QuickInfoContentBuilder.cs
  src/Features/Core/Portable/QuickInfo/Presentation/TaggedTextExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Push logic to compute VS image Id from glyphs to Features layer
  src/EditorFeatures/Core/Extensions/LSPExtensions.cs
  src/EditorFeatures/Core/LanguageServer/EditorHoverCreationService.cs
  src/EditorFeatures/Core/LanguageServer/EditorLspCompletionResultCreationService.cs
  src/EditorFeatures/Core/LanguageServer/EditorLspReferencesResultCreationService.cs
  src/EditorFeatures/Core/LanguageServer/EditorLspSymbolInformationCreationService.cs
  src/EditorFeatures/Core/Shared/Extensions/GlyphExtensions.cs
  src/Features/Core/Portable/Common/GlyphExtensions.KnownImageIds.cs
  src/Features/Core/Portable/Common/GlyphExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move helpers that convert to Roslyn LSP elements to language server
  src/EditorFeatures/Core/Extensions/LSPExtensions.cs
  src/EditorFeatures/Core/LanguageServer/EditorHoverCreationService.cs
  src/EditorFeatures/Core/LanguageServer/EditorLspCompletionResultCreationService.cs
  src/EditorFeatures/Core/LanguageServer/EditorLspReferencesResultCreationService.cs
  src/LanguageServer/Protocol/Extensions/Extensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove ILspHoverResultCreationService
  src/EditorFeatures/Core/LanguageServer/EditorHoverCreationService.cs
  src/LanguageServer/Protocol/Handler/Hover/HoverHandler.cs
  src/LanguageServer/Protocol/Handler/Hover/ILspHoverResultCreationService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove ILspReferencesResultCreationService
  src/EditorFeatures/Core/LanguageServer/EditorLspReferencesResultCreationService.cs
  src/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/LanguageServer/Protocol/Handler/References/FindUsagesLSPContext.cs
  src/LanguageServer/Protocol/Handler/References/ILspReferencesResultCreationService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Formatting
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Field-backed properties: interface properties
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fixup ParseIfStatement
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move new test
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Don't run new test in IOperation leg
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove ILspSymbolInformationCreationService
  src/EditorFeatures/Core/LanguageServer/EditorLspSymbolInformationCreationService.cs
  src/LanguageServer/Protocol/Extensions/Extensions.cs
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/LanguageServer/Protocol/Handler/Symbols/ILspSymbolInformationCreationService.cs
  src/LanguageServer/Protocol/Handler/Symbols/SymbolInformationFactory.cs
  src/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/LanguageServer/ProtocolUnitTests/Symbols/DocumentSymbolsTests.cs
  src/Tools/ExternalAccess/Razor/Cohost/Handlers/DocumentSymbols.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove ILspCompletionResultCreationService
  src/EditorFeatures/Core/LanguageServer/EditorLspCompletionResultCreationService.cs
  src/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
  src/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/LanguageServer/Protocol/Handler/Completion/CompletionResultFactory.cs
  src/LanguageServer/Protocol/Handler/Completion/DefaultLspCompletionResultCreationService.cs
  src/LanguageServer/Protocol/Handler/Completion/ILspCompletionResultCreationService.cs
  src/LanguageServer/ProtocolUnitTests/Completion/CompletionFeaturesTests.cs
  src/LanguageServer/ProtocolUnitTests/Completion/CompletionResolveTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert using chnages
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Don't report ERR_InterfacesCantContainFields if property has initializer
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix tests
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Adjust nesting depth expectations
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix null dereference in GetAssemblyReferenceAlias (#75094)
  src/Compilers/CSharp/Test/Emit2/PDB/PDBUsingTests.cs
  src/Compilers/Core/Portable/NativePdbWriter/PdbWriter.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Mark ISourceGenerator as obsolete for implementation
  docs/features/incremental-generators.md
  src/Compilers/Core/Portable/ImplementationIsObsoleteAttribute.cs
  src/Compilers/Core/Portable/SourceGeneration/ISourceGenerator.cs
  src/Compilers/VisualBasic/Test/Semantic/SourceGeneration/GeneratorDriverTests.vb
  src/EditorFeatures/Test2/Rename/CSharp/SourceGeneratorTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

add auto insert option
  src/LanguageServer/Protocol/Handler/Configuration/DidChangeConfigurationNotificationHandler_OptionList.cs
  src/LanguageServer/Protocol/Handler/OnAutoInsert/OnAutoInsertHandler.cs
  src/LanguageServer/Protocol/LspOptionsStorage.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix naming
  src/LanguageServer/Protocol/Handler/OnAutoInsert/OnAutoInsertHandler.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

add option group
  src/LanguageServer/Protocol/LspOptionsStorage.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix tests
  src/LanguageServer/ProtocolUnitTests/Configuration/DidChangeConfigurationNotificationHandlerTest.cs
  src/VisualStudio/Core/Test.Next/Options/VisualStudioOptionStorageTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add Hover test for code block in DocComments
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/LanguageServer/ProtocolUnitTests/Hover/HoverTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Suppress warnings
  src/Compilers/Core/Portable/SourceGeneration/GeneratorAdaptor.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix diagnostics to get TextDocument instead of Document
  src/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/LanguageServer/Protocol/Handler/SpellCheck/AbstractSpellCheckingHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Definitions/GoToDefinitionHandler.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update src/LanguageServer/ProtocolUnitTests/Hover/HoverTests.cs
  src/LanguageServer/ProtocolUnitTests/Hover/HoverTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix regression of parsing `with` expression in conditional expression (#75075)
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AwaitParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/NameParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RecordParsing.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

merge `allows ref struct` constraint and ref struct interfaces into one line (#75156)
  docs/Language Feature Status.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

docs: fix C# 13 proposal link (#75207)
  docs/Language Feature Status.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add GetHoverAsync(...) to ExternalAccess.Razor
  src/EditorFeatures/Core/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/Features/Core/Portable/QuickInfo/Presentation/QuickInfoContentBuilder.cs
  src/LanguageServer/Protocol/Handler/Hover/HoverHandler.cs
  src/Tools/ExternalAccess/Razor/Cohost/Handlers/Hover.cs
  src/Tools/ExternalAccess/Razor/Cohost/Handlers/SemanticTokensRange.cs
  src/Tools/ExternalAccess/Razor/Cohost/Handlers/SignatureHelp.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add GetCompletionListAsync and ResolveCompletionItemAsync to Razor EA
  src/LanguageServer/Protocol/Handler/Completion/CompletionCapabilityHelper.cs
  src/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandlerFactory.cs
  src/LanguageServer/Protocol/Handler/Completion/Extensions.cs
  src/Tools/ExternalAccess/Razor/Cohost/Handlers/Completion.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml
