Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

azure-pipelines-integration-corehost.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - oop64bit: true
        lspEditor: false
  ...

azure-pipelines-integration.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  ...

azure-pipelines.yml:
  stages:
  - stage: Windows_Debug_Build
    dependsOn: []
    jobs:
    - template: eng/pipelines/build-windows-job.yml
      parameters:
        jobName: Build_Windows_Debug
        testArtifactName: Transport_Artifacts_Windows_Debug
        configuration: Debug
  ...

azure-pipelines/microbuild.yml:
  jobs:
  - template: build.yml
    parameters:
      windowsPool: VSEng-MicroBuildVS2019

azure-pipelines/unofficial.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate
    parameters:
      sdl:
        sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
        suppression:
          suppressionFile: $(System.DefaultWorkingDirectory)\azure-pipelines\falsepositives.gdnsuppress
  ...

Don't emit DebuggerStepThroughAttribute for runtime async methods (#81035)
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Attributes/AttributeTests_Synthesized.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add runtime async tests for redefined `Task` types
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Simplify sequence point display control
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingStatementTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBLambdaTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StructConstructorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CovariantReturnTests.cs
  src/Compilers/Test/Core/CompilationVerifier.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Log analyzer load issues
  src/Workspaces/MSBuild/Test/NewlyCreatedProjectsFromDotNetNew.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Create a binary log when loading projects so we can diagnose failures
  src/Workspaces/MSBuild/Test/NewlyCreatedProjectsFromDotNetNew.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Unskip tests of MSBuildWorkspace with blazor and blazorwasm templates
  src/Workspaces/MSBuild/Test/NewlyCreatedProjectsFromDotNetNew.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Simplify enabling sequence point display
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncEHTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncSpillTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLockTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingStatementTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBAsyncTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBLambdaTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBUsingTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StructConstructorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CovariantReturnTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/LineSpanDirectiveTests.cs
  src/Compilers/Test/Core/CompilationVerifier.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenAsyncTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenForLoops.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBAsyncTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBIteratorTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBSyncLockTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/StaticLocals.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Consolidate sequence point display options
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncEHTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncSpillTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLockTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingStatementTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBAsyncTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBLambdaTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBUsingTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StructConstructorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CovariantReturnTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/LineSpanDirectiveTests.cs
  src/Compilers/Test/Core/CompilationVerifier.cs
  src/Compilers/Test/Core/SequencePointDisplayMode.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenAsyncTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenForLoops.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBAsyncTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBIteratorTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBSyncLockTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/StaticLocals.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Restore used visualizer method
  src/Compilers/Test/Core/Metadata/ILBuilderVisualizer.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

remove
  Roslyn.slnx
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

reorder
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

#81118: Fix data type and member bindings in DataTemplate
  src/VisualStudio/Core/Def/MoveStaticMembers/MoveStaticMembersDialog.xaml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

#81118: Fix dropdown in "Move static members" dialog (#81119)
  src/VisualStudio/Core/Def/MoveStaticMembers/MoveStaticMembersDialog.xaml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Normalize actual too
  src/Compilers/Core/MSBuildTaskTests/RuntimeHostInfoTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Resolve conflicts
  eng/Packages.props
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/SetupNugetSources.sh
  eng/common/core-templates/job/publish-build-assets.yml
  eng/common/core-templates/post-build/post-build.yml
  eng/common/core-templates/steps/install-microbuild-impl.yml
  eng/common/core-templates/steps/publish-logs.yml
  eng/common/post-build/publish-using-darc.ps1
  eng/common/post-build/redact-logs.ps1
  eng/common/sdk-task.ps1
  global.json
  src/Workspaces/MSBuild/BuildHost/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix output of 'use conditional expression' with tabs
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForReturnTests.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/AbstractUseConditionalExpressionCodeFixProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add tests
  src/Compilers/CSharp/Portable/Binder/LookupResultKind.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Revert
  .github/copilot-instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

newlines
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Switch to lowercase check
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

remove comments
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

remove asserts
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Simplify check
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Revert "#81118: Fix dropdown in "Move static members" dialog (#81119)"
  src/VisualStudio/Core/Def/MoveStaticMembers/MoveStaticMembersDialog.xaml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Support generating explicit Equals/GetHashCode for records
  src/EditorFeatures/CSharpTest/CodeActions/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/AbstractGenerateEqualsAndGetHashCodeService.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeAction.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/SyntaxGeneratorExtensions_CreateEqualsMethod.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add dependency for microsoft.dotnet.filebasedprograms
  eng/Version.Details.props
  eng/Version.Details.xml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fixup add-using to support more modern extension cases
  src/EditorFeatures/CSharpTest/CodeActions/AddUsing/AddUsingTests_ExtensionMethods.cs
  src/Features/Core/Portable/AddImport/SymbolReferenceFinder.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/ISymbolExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Target typed conditional expression recovery (#81025)
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedConditionalOperatorTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Extend unit tests
  src/Compilers/Core/SdkTaskTests/CscTests.cs
  src/Compilers/Core/SdkTaskTests/VbcTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fixup display of range variables in find-references
  src/Features/Core/Portable/FindUsages/FindUsagesHelpers.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add logging to EnablePreviewSdks
  eng/build.ps1
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Extract class for testing
  src/VisualStudio/CSharp/Test/ProjectSystemShim/SdkAnalyzerAssemblyRedirectorTests.cs
  src/VisualStudio/Core/Def/ProjectSystem/SdkAnalyzerAssemblyRedirector.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove superfluous parentheses when converting to a pattern
  src/Features/CSharpTest/UsePatternCombinators/CSharpUsePatternCombinatorsDiagnosticAnalyzerTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Enable preview SDKs in global.json
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/IntegrationTestBase.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

in progress
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConverter.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/CSharpConvertForEachToLinqQueryProvider.cs
  src/Features/CSharpTest/ConvertLinq/ConvertForEachToLinqQueryTests.cs
  src/Features/Core/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConvertForEachToLinqQueryProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxTokenExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxTriviaExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

revert
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxTokenExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxTriviaExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fixup
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConverter.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/DefaultConverter.cs
  src/Features/CSharpTest/ConvertLinq/ConvertForEachToLinqQueryTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update test
  src/Features/Test/FindUsages/DefinitionItemFactoryTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, azure-pipelines-compliance.yml, azure-pipelines-integration-dartlab.yml, azure-pipelines-integration-scouting.yml, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
