Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

azure-pipelines-integration-corehost.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - oop64bit: true
        lspEditor: false
  ...

azure-pipelines-integration.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  ...

azure-pipelines.yml:
  jobs:
  - template: azure-pipelines/build.yml
    parameters:
      Is1ESPT: false
      EnableMacOSBuild: ${{ parameters.EnableMacOSBuild }}
      RunTests: ${{ parameters.RunTests }}

azure-pipelines/microbuild.yml:
  jobs:
  - template: build.yml
    parameters:
      windowsPool: VSEng-MicroBuildVS2019

azure-pipelines/official.yml:
  extends:
    ${{ if or(parameters.ForceOfficialBuild, eq(variables['Build.Reason'],'Schedule')) }}:
      template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
      parameters:
        sdl:
          sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
          codeSignValidation:
  ...

1) Modify tests to instead just take in a single string, and permute over all possible source texts generatable from that sequence 2) Move the two added TextLineCollection derivations to be private.
  src/Compilers/Core/CodeAnalysisTest/Text/CompositeTextTests.cs
  src/Compilers/Core/Portable/Text/CompositeText.cs
  src/Compilers/Core/Portable/Text/SubText.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Switch to primary constructor
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/DelegatingFileChangeWatcher.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move host outputs from EA.Razor to Microsoft.CodeAnalysis Change signature from (string, string) to (string, object) Shim EA implementations
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorState.cs
  src/Compilers/Core/Portable/SourceGeneration/IncrementalContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/HostOutputNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/IIncrementalGeneratorOutputNode.cs
  src/Compilers/Core/Portable/SourceGeneration/RunResults.cs
  src/Tools/ExternalAccess/RazorCompiler/GeneratorExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

wrapping
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/FileWatchedPortableExecutableReferenceFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

wrapping
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectFactory.ProjectUpdateState.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

type fixed
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

rename back
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/FileWatchedPortableExecutableReferenceFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Rename some variables, add a couple comments in CompositeText
  src/Compilers/Core/Portable/Text/CompositeText.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Use existing property to access services
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

docs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectFactory.ProjectUpdateState.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add tests
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

reordered and reformatted some items in conditional to hopefully make it more clear
  src/Compilers/Core/Portable/Text/CompositeText.cs
  src/Compilers/Core/Portable/Text/SubText.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

rename another variable for clarity
  src/Compilers/Core/Portable/Text/SubText.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fsn, seal
  src/Compilers/Core/CodeAnalysisTest/Text/CompositeTextTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Missed a semi-colon
  src/Compilers/Core/CodeAnalysisTest/Text/CompositeTextTests.cs
  src/Compilers/Core/Portable/Text/CompositeText.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Disable build on test refresh
  .vscode/settings.json
Due: none

wip
  azure-pipelines-integration-dartlab.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix
  azure-pipelines-integration-dartlab.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update public api
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix some small things with readme (#74709)
  README.md
  docs/img/discord-mark-white.png
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

remove unused method
  src/Workspaces/Remote/Core/BrokeredServiceDescriptors.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix VB test
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update generated ILs in some existing tests
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix
  src/Analyzers/CSharp/CodeFixes/UseImplicitObjectCreation/CSharpUseImplicitObjectCreationCodeFixProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Disable build on test refresh (#74751)
  .vscode/settings.json
Due: none

Fix return type so Document Outline still works
  src/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/Tools/ExternalAccess/Razor/Cohost/Handlers/DocumentSymbols.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

LSP Protocol: Track changes in Tests/LSIF/XAML
  src/Features/Lsif/Generator/ResultSetTracking/IResultSetTrackerExtensions.cs
  src/Features/Lsif/GeneratorTest/HoverTests.vb
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/LspFileChangeWatcherTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/LspContractTypes.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/LspFileChangeWatcher.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests/ExampleTests.cs
  src/LanguageServer/Protocol/Protocol/SumType.cs
  src/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionResolveTests.cs
  src/LanguageServer/ProtocolUnitTests/Configuration/DidChangeConfigurationNotificationHandlerTest.cs
  src/LanguageServer/ProtocolUnitTests/Hover/HoverTests.cs
  src/LanguageServer/ProtocolUnitTests/MapCode/MapCodeTests.cs
  src/LanguageServer/ProtocolUnitTests/Miscellaneous/LspMiscellaneousFilesWorkspaceTests.cs
  src/LanguageServer/ProtocolUnitTests/Rename/RenameTests.cs
  src/LanguageServer/ProtocolUnitTests/Symbols/WorkspaceSymbolsTests.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Formatting/AbstractFormatDocumentHandlerBase.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Formatting/FormatDocumentOnTypeHandler.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

LSP Protocol: Better obsoletion handling
  src/EditorFeatures/Core/LanguageServer/EditorLspSymbolInformationCreationService.cs
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/LanguageServer/Protocol/Handler/Symbols/ILspSymbolInformationCreationService.cs
  src/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/LanguageServer/Protocol/Protocol/MarkedString.cs
  src/LanguageServer/Protocol/Protocol/Notebook/NotebookDocumentFilter.cs
  src/LanguageServer/Protocol/Protocol/SymbolInformation.cs
  src/LanguageServer/ProtocolUnitTests/Symbols/DocumentSymbolsTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update VS Code config
  .vscode/settings.json
  .vscode/tasks.json
Due: none

more fixes
  azure-pipelines-integration-dartlab.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix formatting warnings that only appear on CI
  src/LanguageServer/Protocol/Protocol/Internal/VSInternalHover.cs
  src/LanguageServer/Protocol/Protocol/Moniker/Moniker.cs
  src/LanguageServer/Protocol/Protocol/ServerInfo.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

one additional location of 'inline hints'
  src/EditorFeatures/Core.Wpf/InlineHints/InlineHintsFormatDefinition.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Refactor semantic snippets (#74712)
  src/EditorFeatures/Test/Snippets/RoslynLSPSnippetConvertTests.cs
  src/Features/Core/Portable/Completion/Providers/Snippets/AbstractSnippetCompletionProvider.cs
  src/Features/Core/Portable/Snippets/AbstractSnippetService.cs
  src/Features/Core/Portable/Snippets/RoslynLSPSnippetConverter.cs
  src/Features/Core/Portable/Snippets/SnippetChange.cs
  src/Features/Core/Portable/Snippets/SnippetData.cs
  src/Features/Core/Portable/Snippets/SnippetPlaceholder.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractSnippetProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/ISnippetProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Bump .NET SDK to 8.0.400
  .devcontainer/Dockerfile
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

SymbolEqualityComparer
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: doc, *.md, .vscode, .github, azure-pipelines/release.yml
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
