Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, azure-pipelines-compliance.yml, azure-pipelines-integration-dartlab.yml, azure-pipelines-integration-scouting.yml, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Remove unnecessary check, quote cache path
  src/Compilers/Core/MSBuildTaskTests/ManagedCompilerGlobalCacheTests.cs
  src/Compilers/Core/Portable/InternalUtilities/CompilerOptionParseUtilities.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove unnecessary remarks.
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Try using .NET 8 SDK in 16.11 branch
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move to GetTempCachePath helper with logic from the SDK for ensuring unix permissions are good.
  src/Compilers/Core/CodeAnalysisTest/FileSystem/PathUtilitiesTests.cs
  src/Compilers/Core/Portable/FileSystem/PathUtilities.cs
  src/Compilers/Server/VBCSCompiler/CompilationCache.cs
  src/Compilers/Server/VBCSCompilerTests/CompilationCacheTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update future considerations section of feature doc
  docs/features/file-based-programs-vscode.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update feature doc
  docs/features/file-based-programs-vscode.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add LSP CallHierarchy support
  src/Features/Core/Portable/CallHierarchy/AbstractCallHierarchyService.cs
  src/Features/Core/Portable/CallHierarchy/CallHierarchyItemId.cs
  src/Features/Core/Portable/CallHierarchy/ICallHierarchyService.cs
  src/Features/Test/CallHierarchy/CallHierarchyServiceTests.cs
  src/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
  src/LanguageServer/Protocol/Handler/CallHierarchy/CallHierarchyHelpers.cs
  src/LanguageServer/Protocol/Handler/CallHierarchy/CallHierarchyIncomingCallsHandler.cs
  src/LanguageServer/Protocol/Handler/CallHierarchy/CallHierarchyOutgoingCallsHandler.cs
  src/LanguageServer/Protocol/Handler/CallHierarchy/CallHierarchyResolveData.cs
  src/LanguageServer/Protocol/Handler/CallHierarchy/PrepareCallHierarchyHandler.cs
  src/LanguageServer/Protocol/Protocol/Navigation/CallHierarchyIncomingCallsParams.cs
  src/LanguageServer/Protocol/Protocol/Navigation/CallHierarchyOutgoingCallsParams.cs
  src/LanguageServer/Protocol/Protocol/ServerCapabilities.cs
  src/LanguageServer/ProtocolUnitTests/CallHierarchy/CallHierarchyTests.cs
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

PR feedback
  src/Features/Core/Portable/CallHierarchy/AbstractCallHierarchyService.cs
  src/Features/Core/Portable/CallHierarchy/ICallHierarchyService.cs
  src/Features/Test/CallHierarchy/CallHierarchyServiceTests.cs
  src/LanguageServer/Protocol/Handler/CallHierarchy/CallHierarchyIncomingCallsHandler.cs
  src/LanguageServer/Protocol/Handler/CallHierarchy/CallHierarchyOutgoingCallsHandler.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move inheritance margin logic to a features service
  src/Features/CSharp/Portable/TypeHierarchy/CSharpTypeHierarchyService.cs
  src/Features/Core/Portable/InheritanceMargin/AbstractInheritanceMarginService_Helpers.cs
  src/Features/Core/Portable/TypeHierarchy/AbstractTypeHierarchyService.cs
  src/Features/Core/Portable/TypeHierarchy/ITypeHierarchyService.cs
  src/Features/Test/TypeHierarchy/TypeHierarchyServiceTests.cs
  src/Features/VisualBasic/Portable/TypeHierarchy/VisualBasicTypeHierarchyService.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Microsoft.CodeAnalysis.Analyzers.UnitTests from NetRoslynWindows to NetRoslyn
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/UnitTests/Microsoft.CodeAnalysis.Analyzers.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Microsoft.CodeAnalysis.BannedApiAnalyzers.UnitTests from NetRoslynWindows to NetRoslyn
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/UnitTests/Microsoft.CodeAnalysis.BannedApiAnalyzers.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Microsoft.CodeAnalysis.ResxSourceGenerator.UnitTests from NetRoslynWindows to NetRoslyn
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.UnitTests/Microsoft.CodeAnalysis.ResxSourceGenerator.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port PerformanceSensitiveAnalyzers.UnitTests from NetRoslynWindows to NetRoslyn
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/UnitTests/Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port PublicApiAnalyzers.UnitTests from NetRoslynWindows to NetRoslyn
  src/RoslynAnalyzers/PublicApiAnalyzers/UnitTests/Microsoft.CodeAnalysis.PublicApiAnalyzers.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Roslyn.Diagnostics.Analyzers.UnitTests from NetRoslynWindows to NetRoslyn
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/UnitTests/Roslyn.Diagnostics.Analyzers.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Text.Analyzers.UnitTests from NetRoslynWindows to NetRoslyn
  src/RoslynAnalyzers/Text.Analyzers/UnitTests/Text.Analyzers.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port RulesetToEditorconfigConverter.UnitTests from NetRoslynWindows to NetRoslyn
  src/RoslynAnalyzers/Tools/RulesetToEditorconfigConverter/Tests/RulesetToEditorconfigConverter.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Analyzer.Utilities.UnitTests from NetRoslynWindows to NetRoslyn
  src/RoslynAnalyzers/Utilities.UnitTests/Analyzer.Utilities.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove another area where custom configurable was used, update tests.
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 11.md
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Microsoft.CommonLanguageServerProtocol.Framework.UnitTests from NetRoslynWindows to NetRoslyn
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Re-enable .NET Framework
  src/Compilers/Server/VBCSCompiler/CompilationCache.cs
  src/Compilers/Server/VBCSCompiler/CompilationCacheUtilities.cs
  src/Compilers/Server/VBCSCompilerTests/CompilationCacheTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

More tests
  src/Compilers/CSharp/Test/CSharp15/ExtensionIndexersTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/InlineArrayTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Microsoft.CodeAnalysis.ExternalAccess.HotReload.UnitTests from NetRoslynWindows to NetRoslyn
  src/Features/ExternalAccess/HotReloadTest/Microsoft.CodeAnalysis.ExternalAccess.HotReload.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Microsoft.CodeAnalysis.ExternalAccess.Razor.UnitTests from NetRoslynWindows to NetRoslyn
  src/Tools/ExternalAccess/RazorTest/Microsoft.CodeAnalysis.ExternalAccess.Razor.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port SemanticSearch.BuildTask.UnitTests from NetRoslynWindows to NetRoslyn
  src/Tools/SemanticSearch/Tests/SemanticSearch.BuildTask.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move language specific code to subclass
  src/Features/Core/Portable/CallHierarchy/AbstractCallHierarchyService.cs
  src/Features/VisualBasic/Portable/CallHierarchy/VisualBasicCallHierarchyService.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add integration test analysis skill for investigating VS integration test failures
  .github/skills/integration-test-analysis/SKILL.md
  .github/skills/integration-test-analysis/references/artifact-structure.md
  .github/skills/integration-test-analysis/scripts/Get-IntegrationTestStatus.ps1
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Correct arrow direction in project layering diagram
  docs/Layering.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Microsoft.CodeAnalysis.Remote.ServiceHub.UnitTests from NetRoslynWindows to NetRoslyn
  src/Workspaces/Remote/ServiceHubTest/Microsoft.CodeAnalysis.Remote.ServiceHub.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port Microsoft.CodeAnalysis.CSharp.ResultProvider.UnitTests from NetRoslynWindows to NetRoslyn
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/Microsoft.CodeAnalysis.CSharp.ResultProvider.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

revert compiler instructions
  .github/instructions/Compiler.instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix parameter ordering
  src/Features/Core/Portable/InheritanceMargin/AbstractInheritanceMarginService_Helpers.cs
  src/Features/Core/Portable/TypeHierarchy/AbstractTypeHierarchyService.cs
  src/Features/Core/Portable/TypeHierarchy/ITypeHierarchyService.cs
  src/Features/Test/TypeHierarchy/TypeHierarchyServiceTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

respond to PR feedback
  docs/contributing/target-framework-strategy.md
  eng/targets/TargetFrameworks.props
  src/EditorFeatures/CSharpTest2/Microsoft.CodeAnalysis.CSharp.EditorFeatures2.UnitTests.csproj
  src/Features/CSharpTest/Microsoft.CodeAnalysis.CSharp.Features.UnitTests.csproj
  src/Features/Test/Microsoft.CodeAnalysis.Features.UnitTests.csproj
  src/Features/VisualBasicTest/Microsoft.CodeAnalysis.VisualBasic.Features.UnitTests.vbproj
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/Microsoft.CodeAnalysis.LanguageServer.UnitTests.csproj
  src/LanguageServer/ProtocolUnitTests/Microsoft.CodeAnalysis.LanguageServer.Protocol.UnitTests.csproj
  src/Workspaces/CSharpTest/Microsoft.CodeAnalysis.CSharp.Workspaces.UnitTests.csproj
  src/Workspaces/CoreTest/Microsoft.CodeAnalysis.Workspaces.UnitTests.csproj
  src/Workspaces/MSBuild/Test/Microsoft.CodeAnalysis.Workspaces.MSBuild.UnitTests.csproj
  src/Workspaces/VisualBasicTest/Microsoft.CodeAnalysis.VisualBasic.Workspaces.UnitTests.vbproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Apply suggestions from code review
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests.csproj
  src/Tools/ExternalAccess/RazorTest/Microsoft.CodeAnalysis.ExternalAccess.Razor.UnitTests.csproj
  src/Workspaces/Remote/ServiceHubTest/Microsoft.CodeAnalysis.Remote.ServiceHub.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Change to a boolean check
  eng/build.sh
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

more
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add post-VS-snap step
  .github/skills/snap/SKILL.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use real SparseNgramGenerator in NgramStorageAnalyzer instead of copied algorithm
  src/Tools/NgramStorageAnalyzer/NgramStorageAnalyzer.csproj
  src/Tools/NgramStorageAnalyzer/Program.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Create backflows too
  .github/skills/snap/SKILL.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use non-interactive mode for darc
  .github/skills/snap/SKILL.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml
