Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

azure-pipelines-integration-corehost.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - oop64bit: true
        lspEditor: false
  ...

azure-pipelines-integration.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  ...

azure-pipelines.yml:
  jobs:
  - template: eng/pipelines/build-windows-job.yml
    parameters:
      jobName: Build_Windows_Debug
      testArtifactName: Transport_Artifacts_Windows_Debug
      configuration: Debug
      queueName: windows.vs2019.amd64.open
  - template: eng/pipelines/build-windows-job.yml
    parameters:
  ...

azure-pipelines/microbuild.yml:
  jobs:
  - template: build.yml
    parameters:
      windowsPool: VSEng-MicroBuildVS2019

azure-pipelines/unofficial.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate
    parameters:
      sdl:
        sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
        suppression:
          suppressionFile: $(System.DefaultWorkingDirectory)\azure-pipelines\falsepositives.gdnsuppress
  ...

Fix Razor @{ completion regression in VS Code CSHTML files (#83919)
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Delegation/ImplicitExpressionSuggestionModeRewriter.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.UnitTests/Completion/ImplicitExpressionSuggestionModeRewriterTest.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix tuple pattern parsing
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Substitute sqlite3 dlls in setup projects
  eng/Packages.props
  src/Deployment/RoslynDeployment.csproj
  src/NuGet/VS.ExternalAPIs.Roslyn.Package/VS.ExternalAPIs.Roslyn.Package.csproj
  src/VisualStudio/CSharp/Test/Microsoft.VisualStudio.LanguageServices.CSharp.UnitTests.csproj
  src/VisualStudio/IntegrationTest/New.IntegrationTests/Microsoft.VisualStudio.LanguageServices.New.IntegrationTests.csproj
  src/VisualStudio/IntegrationTest/TestSetup/Microsoft.VisualStudio.IntegrationTest.Setup.csproj
  src/VisualStudio/Setup.ServiceHub/Directory.Build.props
  src/VisualStudio/Setup.ServiceHub/arm64/Roslyn.VisualStudio.ServiceHub.Setup.arm64.csproj
  src/VisualStudio/Setup.ServiceHub/x64/Roslyn.VisualStudio.ServiceHub.Setup.x64.csproj
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

[PAT Migration] Replace devdiv/engineering SC with WIF using correct NuGetAuthenticate inputs (WI 10126) (#83918)
  azure-pipelines-official.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use union "knowledge" for direct (explicit) matching on the Value property (#83856)
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Test/CSharp15/UnionsTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Simplify RunTests invocation from CI pipelines
  azure-pipelines.yml
  eng/pipelines/test-unix-job-single-machine.yml
  eng/pipelines/test-unix-job.yml
  eng/pipelines/test-windows-job-single-machine.yml
  eng/pipelines/test-windows-job.yml
  src/Tools/RunTests/HelixTestRunner.cs
  src/Tools/RunTests/Options.cs
  src/Tools/RunTests/ProcessTestExecutor.cs
  src/Tools/RunTests/TestHistoryManager.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Rename --testDesktop/--testCoreClr to --testFramework:desktop/core
  azure-pipelines.yml
  src/Tools/RunTests/Options.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add UseDotNet install step using global.json to test pipelines
  eng/pipelines/test-unix-job-single-machine.yml
  eng/pipelines/test-unix-job.yml
  eng/pipelines/test-windows-job-single-machine.yml
  eng/pipelines/test-windows-job.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove --procdumppath, add helix option validation
  eng/pipelines/test-windows-job.yml
  src/Tools/RunTests/Options.cs
  src/Tools/RunTests/Program.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Rename --configuration to --testConfiguration
  eng/pipelines/test-unix-job-single-machine.yml
  eng/pipelines/test-unix-job.yml
  eng/pipelines/test-windows-job-single-machine.yml
  eng/pipelines/test-windows-job.yml
  src/Tools/RunTests/Options.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Rename --arch to --testPlatform
  azure-pipelines.yml
  src/Tools/RunTests/Options.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove --sequential option
  src/Tools/RunTests/Options.cs
  src/Tools/RunTests/TestRunner.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Rename options: --runtime to --testFramework:both, --testCompilerOnly to --testSet:compiler
  azure-pipelines.yml
  src/Tools/RunTests/Options.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove --display option
  src/Tools/RunTests/Options.cs
  src/Tools/RunTests/Program.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

build fix
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Tools/RunTests/TestHistoryManager.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

feedback
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/DevKitProjectLoadingServiceContributor.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/DelegatingFileChangeWatcherFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Port DictionaryInterface ctor binding to TryPerformOverloadResolutionWithConstructorSubset
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Don't emit List<T> discoverability diagnostics for DictionaryInterface spreads
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Allow --autoLoadProjects to accept an limit for the number of projects
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/Utilities/LanguageServerTestComposition.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/AutoLoadProjectsInitializer.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/ServerConfigurationFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add some tests for command line parsing
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/LanguageServerCommandLineTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServerCommandLine.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Run VirtualProjectXmlProviderTests always now
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/VirtualProjectXmlProviderTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Rebaseline Group A dictionary-expression tests for real-type ctor diagnostics
  src/Compilers/CSharp/Test/CSharp15/DictionaryExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Report component-wise key/value conversion errors for KeyValuePair collection elements
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Allow params dictionary types that populate via an indexer instead of Add
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Rebaseline CustomDictionary_NoParameterlessConstructor for inaccessible-ctor diagnostics
  src/Compilers/CSharp/Test/CSharp15/DictionaryExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove IDynamicFileInfoProvider and related code
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerWorkspaceFactory.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/WorkspaceProject.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioProjectTests/AnalyzerReferenceTests.vb
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioProjectTests/DynamicFileTests.vb
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioProjectTests/PrimaryProjectTests.vb
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioProjectTests/SourceTextContainerTests.vb
  src/Workspaces/Core/Portable/Workspace/Host/Mef/ExportDynamicFileInfoProviderAttribute.cs
  src/Workspaces/Core/Portable/Workspace/Host/SourceFiles/DynamicFileInfo.cs
  src/Workspaces/Core/Portable/Workspace/Host/SourceFiles/IDynamicFileInfoProvider.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.BatchingDocumentCollection.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectHostInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DefaultTextDocumentServiceProvider.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.RegularCompilationTracker_Generators.cs
  src/Workspaces/CoreTest/WorkspaceTests/DynamicFileInfoProviderMefTests.cs
  src/Workspaces/CoreTestUtilities/TestDynamicFileInfoProviderThatProducesFiles.cs
  src/Workspaces/CoreTestUtilities/TestDynamicFileInfoProviderThatProducesNoFiles.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Workspace/Mef/FileExtensionsMetadata.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/WorkspaceExtensions.projitems
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

PR cleanup
  eng/pipelines/test-unix-job.yml
  eng/pipelines/test-windows-job.yml
  src/Tools/RunTests/Options.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

more
  eng/build.ps1
  src/Tools/RunTests/Options.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Rebaseline Params_Cycle_ConstructorArguments for empty with-element collections
  src/Compilers/CSharp/Test/CSharp15/DictionaryExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

PR feedback
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Account for indexer ref-capture in dictionary collection-expression ref-safety
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Test/CSharp15/DictionaryExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Address PR feedback: factor TryGetRazorDocumentForGeneratedDocumentIdAsync
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/DocumentMapping/RemoteSpanMappingService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Address PR feedback: remove AllCode helper; use split-aware assertions
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/RazorIntegrationTestBase.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, azure-pipelines-compliance.yml, azure-pipelines-integration-dartlab.yml, azure-pipelines-integration-scouting.yml, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
