Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Disallow initializers on partial constructor definitions
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/PartialEventsAndConstructorsTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Address feedback
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/InContainerBinder.cs
  src/Compilers/CSharp/Portable/Binder/WithUsingNamespacesAndTypesBinder.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeUnificationTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Resolve merge conflict (test only)
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix
  src/EditorFeatures/Core/DocumentationComments/CopilotGenerateDocumentationCommentProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Apply suggestions from code review
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.Desktop.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/IAnalyzerAssemblyResolver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/ShadowCopyAnalyzerAssemblyLoader.cs
  src/Tools/ExternalAccess/RazorTest/RazorAnalyzerAssemblyResolverTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

more
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.Core.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.Desktop.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Strengthen asserts
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldLikeEventSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix test
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

more
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/ShadowCopyAnalyzerAssemblyLoader.cs
  src/Tools/ExternalAccess/RazorTest/RazorAnalyzerAssemblyResolverTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Interceptor test
  src/Compilers/CSharp/Test/Semantic/Semantics/InterceptorsTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Make diagnostic checksum an extension
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticsPullCache.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.ICompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.RegularCompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.WithFrozenSourceGeneratedDocumentsCompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerExtensions.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticsPullCache.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

simplify
  src/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Address feedback
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Rename
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundWithElement.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix crash in 'introduce variable' when converting an object creation expression to an implicit object creation expression
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService_IntroduceLocal.cs
  src/Features/CSharpTest/IntroduceVariable/IntroduceVariableTests.cs
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.CSharp.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update PublicAPI files for 17.13 ship (#77266)
  src/Compilers/CSharp/Portable/PublicAPI.Shipped.txt
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/PublicAPI.Shipped.txt
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Shipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Enable NRT
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService_IntroduceLocal.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/BasePropertyDeclarationSyntaxExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.CSharp.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.CSharp.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Partial events and constructors: attributes (#77182)
  src/Compilers/CSharp/Portable/Symbols/MemberSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldLikeEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEventAccessorSymbol.cs
  src/Compilers/CSharp/Test/Emit3/PartialEventsAndConstructorsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/EventTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Constraints test
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Partial events and constructors: more tests
  src/Compilers/CSharp/Test/Emit3/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/CSharp/Test/Emit3/PartialEventsAndConstructorsTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix breaking changes to avoid dual insertion
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/Razor/RazorDynamicFileInfoProvider.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/Cohost/RazorClientLanguageServerManagerFactory.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/Cohost/RazorCohostClientLanguageServerManagerFactory.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/Cohost/RazorDynamicRegistrationServiceFactory.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/IRazorDynamicFileInfoProvider.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/IRazorSpanMappingService.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/RazorDocumentServiceProviderWrapper.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/RazorDynamicFileInfo.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/RazorDynamicFileInfoProviderWrapper.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/Testing/AbstractRazorLanguageServerFactoryWrapper.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/Testing/RazorTestLanguageServerFactory.cs
  src/Tools/ExternalAccess/Razor/Features/IRazorLSPDynamicFileInfoProvider.cs
  src/Tools/ExternalAccess/Razor/Features/RazorClientLanguageServerManagerFactory.cs
  src/Tools/ExternalAccess/Razor/Features/RazorDocumentServiceProviderWrapper.cs
  src/Tools/ExternalAccess/Razor/Shared/IRazorClientLanguageServerManager.cs
  src/Tools/ExternalAccess/Razor/Shared/IRazorDocumentOperationService.cs
  src/Tools/ExternalAccess/Razor/Shared/IRazorDocumentServiceProvider.cs
  src/Tools/ExternalAccess/Razor/Shared/IRazorDynamicFileInfo.cs
  src/Tools/ExternalAccess/Razor/Shared/IRazorMappingService.cs
  src/Tools/ExternalAccess/Razor/Shared/Microsoft.CodeAnalysis.ExtnernalAccess.Razor.Shared.projitems
  src/Tools/ExternalAccess/Razor/Shared/RazorClientLanguageServerManager.cs
  src/Tools/ExternalAccess/Razor/Shared/RazorDynamicFileInfo.cs
  src/Tools/ExternalAccess/Razor/Shared/RazorMappedSpanResult.cs
  src/Tools/ExternalAccess/Razor/Shared/RazorMappingServiceWrapper.cs
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.CSharp.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Use proj dependent checksum instead now that it contains SG info
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticsPullCache.cs
  src/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

disable realtime monitoring
  azure-pipelines-pr-validation.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix tests
  src/EditorFeatures/CSharp/DocumentationComments/DocumentationCommentCommandHandler.cs
  src/EditorFeatures/Core/DocumentationComments/AbstractDocumentationCommentCommandHandler.cs
  src/EditorFeatures/VisualBasic/DocumentationComments/DocumentationCommentCommandHandler.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fixes
  src/Features/CSharp/Portable/SemanticSearch/CSharpSemanticSearchUtilities.cs
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.CSharp.txt
  src/VisualStudio/CSharp/Impl/SemanticSearch/SemanticSearchToolWindowImpl.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Feedback
  eng/targets/Settings.props
  src/VisualStudio/Core/Def/SemanticSearch/ISemanticSearchCopilotUIProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Allow Semantic Search query function to take symbol parameter
  src/Features/CSharpTest/SemanticSearch/CSharpSemanticSearchServiceTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/SemanticSearch/AbstractSemanticSearchService.cs
  src/Features/Core/Portable/SemanticSearch/QueryExecutionContext.cs
  src/Features/Core/Portable/SemanticSearch/QueryKind.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.CSharp.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update debugger contracts to fix hot reload issue
  eng/Directory.Packages.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Flesh out handling of symbols synthesized during lowering of extension methods
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/SynthesizedClosureEnvironment.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/ExtensionMethodBodyRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/DelegateCacheContainer.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/DelegateCacheRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/DynamicSiteContainer.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineTypeSymbol.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/RewrittenLambdaOrLocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/RewrittenMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionImplementationMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/TypeMap.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/Core/Portable/Emit/CommonPEModuleBuilder.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

A bit of reorganization for clarity
  docs/compilers/CSharp/Runtime Async Design.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Collapse a number of samples to expandable section
  docs/compilers/CSharp/Runtime Async Design.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove custom service provider. Use ILspServer and initialize method where needed
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/Razor/RazorDynamicFileInfoProvider.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/Razor/RazorInitializeHandler.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Services/Razor/RazorLSPServiceProvider.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/Cohost/Handlers/CodeActions.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/Cohost/Handlers/DocumentSymbols.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/RazorGlobalOptions.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/RazorLanguageServerTargetWrapper.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/RazorProjectExtensions.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/Remote/JsonSerializableRazorPinnedSolutionInfoWrapper.cs
  src/Tools/ExternalAccess/Razor/EditorFeatures/Remote/RazorRemoteServiceCallbackIdWrapper.cs
  src/Tools/ExternalAccess/Razor/Features/IRazorLSPDynamicFileInfoProvider.cs
  src/Tools/ExternalAccess/Razor/Features/IRazorServiceProvider.cs
  src/Tools/ExternalAccess/Razor/Features/IRazorWorkspaceService.cs
  src/Tools/ExternalAccess/Razor/Features/RazorDocumentServiceProviderWrapper.cs
  src/Tools/ExternalAccess/Razor/Shared/IRazorDocumentExcerptService.cs
  src/Tools/ExternalAccess/Razor/Shared/IRazorDocumentPropertiesService.cs
  src/Tools/ExternalAccess/Razor/Shared/IRazorDynamicFileInfo.cs
  src/Tools/ExternalAccess/Razor/Shared/IRazorDynamicFileInfoProvider.cs
  src/Tools/ExternalAccess/Razor/Shared/IRazorMappingService.cs
  src/Tools/ExternalAccess/Razor/Shared/Microsoft.CodeAnalysis.ExtnernalAccess.Razor.Shared.projitems
  src/Tools/ExternalAccess/Razor/Shared/RazorClassificationOptionsWrapper.cs
  src/Tools/ExternalAccess/Razor/Shared/RazorDocumentExcerptServiceWrapper.cs
  src/Tools/ExternalAccess/Razor/Shared/RazorDocumentPropertiesServiceWrapper.cs
  src/Tools/ExternalAccess/Razor/Shared/RazorDocumentServiceProviderWrapper.cs
  src/Tools/ExternalAccess/Razor/Shared/RazorDynamicFileInfo.cs
  src/Tools/ExternalAccess/Razor/Shared/RazorExcerptMode.cs
  src/Tools/ExternalAccess/Razor/Shared/RazorExcerptResult.cs
  src/Tools/ExternalAccess/Razor/Shared/RazorMappedSpanResult.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add an EndpointAttribute usable for VS Code
  src/Tools/ExternalAccess/Razor/Features/RazorEndpointAttribute.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Return stronger-ly typed results from completion
  src/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/LanguageServer/Protocol/Handler/Completion/CompletionResultFactory.cs
  src/Tools/ExternalAccess/Razor/Cohost/Handlers/Completion.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Forgot to change the file header when copying the file contents
  src/LanguageServer/Protocol/Protocol/Internal/Diagnostics/VSInternalDiagnosticRegistrationOptions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

One level deep
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add test
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.CSharp.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml
