Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Fix
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentStates.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert stray period
  src/Compilers/Core/Portable/Emit/EditAndContinue/SymbolChanges.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

static
  src/Compilers/Test/Utilities/CSharp/CSharpTestSource.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Polyfill
  src/Compilers/Test/Core/CollectionBuilderAttribute.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

NRT
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Cache ROS constructed from arrays of constants (remaining types) (#69820)
  src/Compilers/CSharp/Portable/CodeGen/EmitArrayInitializer.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitConversion.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadOnlySpanConstructionTest.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
  src/Compilers/Core/Portable/CodeGen/ITokenDeferral.cs
  src/Compilers/Core/Portable/CodeGen/PrivateImplementationDetails.cs
  src/Compilers/Core/Portable/ConstantValue.cs
  src/Compilers/Core/Portable/CryptographicHashProvider.cs
  src/Compilers/Core/Portable/Emit/CommonPEModuleBuilder.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Downstream fallout
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.Example/CapabilitiesManager.cs
  src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.Example/ExampleLanguageServer.cs
  src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.Example/MultiRegisteringHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/AbstractSemanticTokensTests.cs
  src/Tools/ExternalAccess/Razor/Cohost/AbstractRazorCohostDocumentRequestHandler.cs
  src/Tools/ExternalAccess/Razor/Cohost/RazorCohostDidChangeEndpoint.cs
  src/Tools/ExternalAccess/Razor/Cohost/RazorCohostDidCloseEndpoint.cs
  src/Tools/ExternalAccess/Razor/Cohost/RazorCohostDidOpenEndpoint.cs
  src/Tools/ExternalAccess/Razor/Cohost/RazorCohostLanguageClient.cs
  src/VisualStudio/LiveShare/Impl/CustomProtocol/LspRequestExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fixes
  src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.Example/CapabilitiesManager.cs
  src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.Example/ExampleLanguageServer.cs
  src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.Example/MultiRegisteringHandler.cs
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Accvessibility
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/Utilities/AbstractLanguageServerHostTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fixes
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Tools/ExternalAccess/RazorTest/Cohost/RazorCohostTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fixes
  src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests/TestExampleLanguageServer.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fixes
  src/Features/Lsif/GeneratorTest/DocumentSymbolTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fixes
  src/EditorFeatures/TestUtilities/Microsoft.CodeAnalysis.EditorFeatures.Test.Utilities.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove extra backslash from IBC script (#71264)
  eng/build.ps1
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix issue when we report a missing default case in switch statements with patterns
  src/Analyzers/CSharp/Analyzers/PopulateSwitch/CSharpPopulateSwitchStatementDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/PopulateSwitch/CSharpPopulateSwitchStatementCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/PopulateSwitch/PopulateSwitchStatementTests.cs
  src/Analyzers/Core/Analyzers/PopulateSwitch/PopulateSwitchExpressionHelpers.cs
  src/Analyzers/Core/Analyzers/PopulateSwitch/PopulateSwitchStatementHelpers.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Simplify some MEF imports/exports (#71272)
  src/EditorFeatures/Core/EditAndContinue/Contracts/ManagedHotReloadServiceBridge.cs
  src/EditorFeatures/Core/EditAndContinue/EditAndContinueLanguageService.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ProjectInitializationHandler.cs
  src/Tools/ExternalAccess/Debugger/GlassTestsHotReloadService.cs
  src/VisualStudio/DevKit/Impl/EditAndContinue/ManagedHotReloadLanguageServiceBridge.cs
  src/VisualStudio/DevKit/Impl/Microsoft.VisualStudio.LanguageServices.DevKit.csproj
  src/Workspaces/Remote/Core/EditAndContinue/ManagedHotReloadLanguageService.cs
  src/Workspaces/Remote/Core/EditAndContinue/ManagedHotReloadServiceProxy.cs
  src/Workspaces/Remote/Core/EditAndContinue/SolutionSnapshotProviderProxy.cs
  src/Workspaces/Remote/Core/ServiceBrokerExtensions.cs
  src/Workspaces/Remote/Core/ServiceBrokerProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

update ppublishdata with new package
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

pull from branch
  eng/build-utils.ps1
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Only collapse inner span
  src/Compilers/Core/CodeAnalysisTest/Collections/TemporaryArrayTests.cs
  src/Compilers/Core/Portable/Collections/TemporaryArray`1.cs
  src/EditorFeatures/CSharpTest/Structure/ArgumentListSyntaxStructureTests.cs
  src/EditorFeatures/Test/Structure/BlockStructureServiceTests.cs
  src/Features/CSharp/Portable/Structure/Providers/ArgumentListStructureProvider.cs
  src/Features/Core/Portable/Structure/Syntax/AbstractBlockStructureProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Cleanup
  src/Compilers/Core/CodeAnalysisTest/Collections/TemporaryArrayTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix
  src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/HandlerProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Lint
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

docs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix implementing abstract method with type parameter constaint on specific reference type
  src/Features/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CodeGeneration/MethodGenerator.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add razor/diagnostics endpoint
  src/Features/LanguageServer/Protocol/ExternalAccess/Razor/RazorDocumentPullDiagnosticHandler.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add to experimental registration
  src/EditorFeatures/Core/LanguageServer/RazorInProcLanguageClient.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Cleanup
  src/Features/LanguageServer/Protocol/ExternalAccess/Razor/RazorDocumentPullDiagnosticHandler.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Address feedback
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Provide 'return' keyword in attribute context for accessor
  src/EditorFeatures/CSharpTest2/Recommendations/ReturnKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ReturnKeywordRecommender.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

address feedback
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Adjust assertion
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add targetFramework to pointer tests. Fix impl.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Collection expression spread optimization (#71195)
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Address feedback
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/ReadOnlyListType/SynthesizedReadOnlyListTypeSymbol.EnumeratorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/ReadOnlyListType/SynthesizedReadOnlyListTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Test missing types and members
  src/Compilers/CSharp/Portable/Symbols/Synthesized/ReadOnlyListType/SynthesizedReadOnlyListTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Rename locals
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml
