Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, azure-pipelines-compliance.yml, azure-pipelines-integration-dartlab.yml, azure-pipelines-integration-scouting.yml, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Revert and address some feedback
  src/Dependencies/Contracts/ErrorReporting/FatalError.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsEntryPointDiscovery.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

add comment
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsEntryPointDiscovery.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update Workspaces and Razor test utilities for xUnit v3
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Cohosting/CohostTestBase.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Cohosting/Formatting/TestFormattingLoggerFactory.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Cohosting/Microsoft.AspNetCore.Razor.Test.Common.Cohosting.csproj
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/AssertExtensions.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Editor_NetFx/TestTelemetryReporter.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Language/IntegrationTests/RazorToolingIntegrationTestBase.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Language/Legacy/ToolingParserTestBase.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Mef/TestExportJoinableTaskContext.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Microsoft.AspNetCore.Razor.Test.Common.Tooling.csproj
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/TestIncompatibleProjectService.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/TestPathUtilities.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/ToolingTestBase.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Workspaces/WorkspaceTestBase.cs
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/XunitDisposeHook.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/ConditionalFactAttribute.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Formatting/FormattingFactDiscoverer.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Formatting/FormattingTestCase.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Formatting/FormattingTestFactAttribute.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Formatting/FormattingTestTheoryAttribute.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Formatting/FormattingTheoryDiscoverer.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/GenerateBaselines.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/CompilationFailedException.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntegrationTestBase.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntermediateNodeVerifier.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/RazorBaselineIntegrationTestBase.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/RazorIntegrationTestBase.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/SourceMappingsSerializer.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/Intermediate/IntermediateNodeAssert.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/Legacy/InitializeTestFileAttribute.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/Legacy/ParserTestBase.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/RazorCodeDocumentProcessor.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/RazorProjectEngineExtensions.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/SyntaxTreeVerifier.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/TestFile.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/TestSyntaxSerializer.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/TestCompilation.cs
  src/Razor/src/Shared/Microsoft.AspNetCore.Razor.Test.Common/XunitGlobalUsings.cs
  src/Workspaces/CoreTestUtilities/Logging/TestOutputLoggerProvider.cs
  src/Workspaces/CoreTestUtilities/MEF/UseExportProviderAttribute.cs
  src/Workspaces/CoreTestUtilities/TestExportJoinableTaskContext.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add lsp client name as a common property
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/Daemon/LanguageServerDaemonTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/TelemetryReporterTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/Utilities/AbstractLanguageServerHostTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServer/LanguageServerConnectionManager.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServer/LanguageServerHost.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Telemetry/LanguageServerTelemetry.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Telemetry/LanguageServerTelemetryInitializer.cs
  src/LanguageServer/Protocol/Handler/ServerLifetime/InitializeHandler.cs
  src/LanguageServer/Protocol/Handler/WorkspaceFolderTracker.cs
  src/LanguageServer/Protocol/IOnInitialize.cs
  src/LanguageServer/Protocol/RoslynLanguageServer.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Document xUnit v3 unit test infrastructure
  .github/memory/TESTING_STRATEGY.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Document IDE WPF test attribute pattern
  .github/memory/testing/ide.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Exclude Razor VS integration tests from the integration-test build
  src/VisualStudio/IntegrationTest/IntegrationTestBuildProject.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Revert validate-benchmarks changes for now
  eng/validate-benchmarks.ps1
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Unsafe evolution: suppress "unnecessary unsafe"
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryUnsafeModifier/CSharpRemoveUnnecessaryUnsafeModifierDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryUnsafeModifier/RemoveUnnecessaryUnsafeModifierTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Avoid flaky "rules missing documentation" check due to rate limiting (#82745)
  src/Tools/GenerateRulesMissingDocumentation/Program.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Test nested ref assignment
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Verify IL
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Simplify
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix license header
  src/RoslynSdk/Samples/VisualBasic/SourceGenerators/GeneratedDemo/UseXmlSettingsGenerator.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Unsafe evolution: avoid constructor recursion
  src/Compilers/CSharp/Portable/Binder/Binder_Unsafe.cs
  src/Compilers/CSharp/Portable/Errors/LazyUnsafeConstructorConstraintDiagnosticInfo.cs
  src/Compilers/CSharp/Test/CSharp15/UnsafeEvolutionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix inline declaration scope for expression-bodied local functions
  src/Analyzers/CSharp/Analyzers/InlineDeclaration/CSharpInlineDeclarationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/InlineDeclaration/CSharpInlineDeclarationTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Clarify expression-bodied local function scope
  src/Analyzers/CSharp/Analyzers/InlineDeclaration/CSharpInlineDeclarationDiagnosticAnalyzer.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Test block-bodied local function scope
  src/Analyzers/CSharp/Tests/InlineDeclaration/CSharpInlineDeclarationTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Link local function tests to issue
  src/Analyzers/CSharp/Tests/InlineDeclaration/CSharpInlineDeclarationTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Migrate EqualException harness asset to xUnit v3
  src/VisualStudio/IntegrationTest/Harness/EqualException/EqualException.csproj
  src/VisualStudio/IntegrationTest/Harness/EqualException/ExceptionAfterTestAttribute.cs
  src/VisualStudio/IntegrationTest/Harness/EqualException/ExceptionBeforeTestAttribute.cs
  src/VisualStudio/IntegrationTest/Harness/EqualException/Properties/AssemblyInfo.cs
  src/VisualStudio/IntegrationTest/Harness/EqualException/app.config
  src/VisualStudio/IntegrationTest/Harness/XUnitShared/Harness/IdeTestFramework.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove xUnit v2 package infrastructure
  .github/memory/INDEX.md
  .github/memory/TESTING_STRATEGY.md
  .github/memory/testing/vs-integration-tests-xunit-v3.md
  eng/Packages.props
  eng/targets/XUnit.targets
  src/RoslynSdk/VisualStudio.Roslyn.SDK/Test/Roslyn.SDK.IntegrationTests/Roslyn.SDK.IntegrationTests.csproj
  src/VisualStudio/IntegrationTest/Harness/SourceGeneratorUnitTests/Microsoft.VisualStudio.Extensibility.Testing.SourceGenerator.UnitTests.csproj
  src/VisualStudio/IntegrationTest/Harness/XUnitIntegrationTests/Microsoft.VisualStudio.Extensibility.Testing.Xunit.IntegrationTests.csproj
  src/VisualStudio/IntegrationTest/New.IntegrationTests/Microsoft.VisualStudio.LanguageServices.New.IntegrationTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove obsolete xUnit v2 AppDomain hook
  Ide.slnf
  Roslyn.slnx
  src/EditorFeatures/TestUtilities/Microsoft.CodeAnalysis.EditorFeatures.Test.Utilities.csproj
  src/EditorFeatures/TestUtilities/Threading/StaTaskScheduler.cs
  src/EditorFeatures/XunitHook/Microsoft.CodeAnalysis.XunitHook.csproj
  src/EditorFeatures/XunitHook/XunitDisposeHook.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update EditorFeatures async lifetime for xUnit v3
  src/EditorFeatures/Test/MetadataAsSource/AbstractMetadataAsSourceTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove xUnit v2 test duration adjustment
  src/Tools/RunTests/AssemblyInfo.cs
  src/Tools/RunTests/AssemblyScheduler.cs
  src/Tools/RunTests/HelixTestRunner.cs
  src/Tools/RunTests/TestHistoryManager.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update xUnit v3 assembly identity handling
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/MiscellaneousFiles/FileBasedProgramsEntryPointDiscoveryTests.cs
  src/VisualStudio/IntegrationTest/Harness/XUnitShared/Threading/IdeTestCaseBase.cs
  src/Workspaces/Remote/ServiceHubTest/RazorAnalyzerAssemblyResolverTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Align Razor xUnit dependency inventory
  src/Razor/Directory.Packages.props
  src/Razor/NOTICE.txt
  src/Razor/src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/Microsoft.VisualStudio.Razor.IntegrationTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove stale xUnit v2 scheduler comment
  src/Tools/RunTests/AssemblyScheduler.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Set WarnAsError only in standard CI
  azure-pipelines-integration-lsp.yml
  azure-pipelines-integration.yml
  azure-pipelines.yml
  eng/build-utils.ps1
  eng/build.ps1
  eng/build.sh
  eng/make-bootstrap.ps1
  eng/pipelines/build-bootstrap.yml
  eng/pipelines/build-unix-job.yml
  eng/pipelines/build-windows-job.yml
  eng/pipelines/test-integration-helix.yml
  eng/pipelines/test-unix-job-single-machine.yml
  eng/pipelines/test-unix-job.yml
  eng/pipelines/test-windows-job-single-machine.yml
  eng/pipelines/test-windows-job.yml
  eng/test-build-correctness.ps1
  eng/test-determinism.ps1
  eng/test-rebuild.ps1
  eng/validate-roslyn-sdk-samples.ps1
  eng/validate-rules-missing-documentation.ps1
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update remaining tests for xUnit v3 APIs
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
  src/LanguageServer/ProtocolUnitTests/ParsedUriTests.cs
  src/Tools/IdeCoreBenchmarks/LanguageServer/LanguageServerBenchmarkHost.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml
