Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

azure-pipelines-integration-corehost.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - oop64bit: true
        lspEditor: false
  ...

azure-pipelines-integration.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  ...

azure-pipelines.yml:
  jobs:
  - template: eng/pipelines/build-windows-job.yml
    parameters:
      jobName: Build_Windows_Debug
      testArtifactName: Transport_Artifacts_Windows_Debug
      configuration: Debug
      queueName: windows.vs2019.amd64.open
  - template: eng/pipelines/build-windows-job.yml
    parameters:
  ...

azure-pipelines/microbuild.yml:
  jobs:
  - template: build.yml
    parameters:
      windowsPool: VSEng-MicroBuildVS2019

azure-pipelines/unofficial.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate
    parameters:
      sdl:
        sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
        suppression:
          suppressionFile: $(System.DefaultWorkingDirectory)\azure-pipelines\falsepositives.gdnsuppress
  ...

Add suppressions
  src/LanguageServer/ExternalAccess/CompilerDeveloperSDK/Handler/RequestContext.cs
  src/LanguageServer/ExternalAccess/Core/Copilot/Handler/CopilotRequestContext.cs
  src/LanguageServer/ExternalAccess/Core/VisualDiagnostics/Contracts/HotReloadRequestContext.cs
  src/LanguageServer/Protocol/Handler/RequestContext.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Cohost/AbstractCohostDocumentEndpoint.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update exception.
  src/LanguageServer/Protocol/Handler/RequestContext.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Reuse partial declaration lookahead
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Enable function resolution for SymbolOnly processes (#85033)
  src/ExpressionEvaluator/Core/Source/FunctionResolver/CSharp/FunctionResolver.vsdconfigxml
  src/ExpressionEvaluator/Core/Source/FunctionResolver/VisualBasic/FunctionResolver.vsdconfigxml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move to using the MSBuild Task analyzer instead of the banned-API analyzer
  eng/Packages.props
  src/Compilers/Core/MSBuildTask/BannedSymbols.MSBuildMT.txt
  src/Compilers/Core/MSBuildTask/Csc.cs
  src/Compilers/Core/MSBuildTask/Directory.Build.targets
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/ManagedToolTask.cs
  src/Compilers/Core/MSBuildTask/TaskEnvironmentExtensions.cs
  src/Compilers/Core/MSBuildTask/Vbc.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Migrate other Roslyn Tasks
  src/Compilers/Core/MSBuildTask/CopyRefAssembly.cs
  src/Compilers/Core/MSBuildTask/GenerateMSBuildEditorConfig.cs
  src/Compilers/Core/MSBuildTask/MapSourceRoots.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

feedback
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/LspProgressConverterFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove unused using
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Cohost/AbstractCohostDocumentEndpoint.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

more full migrations
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/ManagedToolTask.cs
  src/Compilers/Core/MSBuildTask/TaskBuildEnvironment.cs
  src/Compilers/Core/MSBuildTask/TaskEnvironmentExtensions.cs
  src/Compilers/Core/MSBuildTask/Vbc.cs
  src/Compilers/Core/MSBuildTaskTests/CopyRefAssemblyTests.cs
  src/Compilers/Core/MSBuildTaskTests/GenerateMSBuildEditorConfigTests.cs
  src/Compilers/Core/MSBuildTaskTests/MapSourceRootTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove extraneous words
  .github/copilot-instructions.md
  .github/skills/update-agent-docs/SKILL.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Map NuGet packages to package sources
  NuGet.config
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove unsued using
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.CohostingShared/Rename/WorkspaceWillRenameEndpoint.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move synchronous methods to EA request contexts.
  src/LanguageServer/ExternalAccess/CompilerDeveloperSDK/Handler/RequestContext.cs
  src/LanguageServer/ExternalAccess/Core/Copilot/Handler/CopilotRequestContext.cs
  src/LanguageServer/ExternalAccess/Core/VisualDiagnostics/Contracts/HotReloadRequestContext.cs
  src/LanguageServer/ExternalAccess/Core/Xaml/External/XamlRequestContext.cs
  src/LanguageServer/Protocol/Handler/RequestContext.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use wildcard NuGet source mappings
  NuGet.config
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove known-issues memory docs and rebase guidance on issue-linked local documentation (#85072)
  .github/CODEOWNERS
  .github/copilot-instructions.md
  .github/memory/ARCHITECTURE.md
  .github/memory/INDEX.md
  .github/memory/KNOWN_ISSUES.md
  .github/memory/TESTING_STRATEGY.md
  .github/memory/known-issues/compiler.md
  .github/memory/known-issues/ide.md
  .github/memory/known-issues/razor.md
  .github/skills/code-review/SKILL.md
  .github/skills/update-agent-docs/SKILL.md
  AGENTS.md
  eng/todo-check.ps1
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Refactor the LanguageServerProjectLoader
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectLoader.ProjectToLoad.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectLoader.WorkDoneProgressTracker.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectLoader.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.Target.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ProjectTelemetry/ProjectLoadTelemetryReporter.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ProjectToLoad.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Allow ILspServices to implement IAsyncDisposable
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.Example/ExampleLspServices.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests/Mocks/TestLspServices.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/AbstractLanguageServer.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/ILspServices.cs
  src/LanguageServer/Protocol/LspServices/ILspService.cs
  src/LanguageServer/Protocol/LspServices/LspServices.cs
  src/LanguageServer/ProtocolUnitTests/LanguageServerTargetTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Cover small span string switches
  src/Compilers/CSharp/Portable/BoundTree/LengthBasedStringSwitchData.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenLengthBasedSwitchTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

[main] Update following VS snap
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

[insiders] Update following VS snap
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

[main] Update following VS snap (#85084)
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

[insiders] Update following VS snap (#85085)
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Support F# Document Outline via LSP textDocument/documentSymbol
  src/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/VisualStudio/ExternalAccess/Core/FSharp/Internal/Editor/FSharpDocumentSymbolNavigationBarItemService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Consider the type of file change when we process file changes
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/DefaultFileChangeWatcherTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/LspFileChangeWatcherTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/MiscellaneousFiles/FileBasedProgramsWorkspaceTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/DefaultFileChangeWatcher.FileChangeContext.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/LspFileChangeWatcher.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.Target.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.cs
  src/VisualStudio/Core/Def/ProjectSystem/FileChangeWatcher.cs
  src/VisualStudio/Core/Def/ProjectSystem/RuleSets/VisualStudioRuleSetManager.RuleSetFile.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/IFileChangeWatcher.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ReferenceFileChangeTracker.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Centralize partial token check
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Explain partial lookahead flow
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Treat partial consistently as a modifier
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AccessorDeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ModifierParserRecoveryTests.Partial.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PartialEventsAndConstructorsParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ScriptParsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Shut down compiler server before publishing rebuild logs (#85039)
  azure-pipelines.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Support F# Document Outline via LSP textDocument/documentSymbol (#85087)
  src/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/VisualStudio/ExternalAccess/Core/FSharp/Internal/Editor/FSharpDocumentSymbolNavigationBarItemService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Embed the F# external access resources under the name their accessor asks for
  src/VisualStudio/ExternalAccess/Core/Microsoft.VisualStudio.LanguageServices.ExternalAccess.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Support declare-as-nullable fix for CS9400
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 11.md
  src/Analyzers/CSharp/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove redundant inheritdoc comment
  src/Compilers/Core/MSBuildTask/GenerateMSBuildEditorConfig.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove redundant inheritdoc comment
  src/Compilers/Core/MSBuildTask/CopyRefAssembly.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove redundant inheritdoc comment
  src/Compilers/Core/MSBuildTask/MapSourceRoots.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove redundant pragma comment
  src/Compilers/Core/MSBuildTask/TaskEnvironmentExtensions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use TempRoot for source root test
  src/Compilers/Core/MSBuildTaskTests/MapSourceRootTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Inline CopyRefAssembly path guards
  src/Compilers/Core/MSBuildTask/CopyRefAssembly.cs
  src/Compilers/Core/MSBuildTask/TaskEnvironmentExtensions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Return FileStream from FileOpenRead
  src/Compilers/Core/MSBuildTask/TaskEnvironmentExtensions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Prevent parser loops in partial declarations
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ModifierParserRecoveryTests.Partial.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, azure-pipelines-compliance.yml, azure-pipelines-integration-dartlab.yml, azure-pipelines-integration-scouting.yml, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
