Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

azure-pipelines-integration-corehost.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - oop64bit: true
        lspEditor: false
  ...

azure-pipelines-integration.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  ...

azure-pipelines.yml:
  stages:
  - stage: Windows_Debug_Build
    dependsOn: []
    jobs:
    - template: eng/pipelines/build-windows-job.yml
      parameters:
        jobName: Build_Windows_Debug
        testArtifactName: Transport_Artifacts_Windows_Debug
        configuration: Debug
        queueName: windows.vs2022preview.amd64.open
  ...

azure-pipelines/microbuild.yml:
  jobs:
  - template: build.yml
    parameters:
      windowsPool: VSEng-MicroBuildVS2019

azure-pipelines/official.yml:
  extends:
    ${{ if or(parameters.ForceOfficialBuild, eq(variables['Build.Reason'],'Schedule')) }}:
      template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
      parameters:
        sdl:
          sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
          codeSignValidation:
  ...

Update PublishData.json
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Cache based on project state not project.
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.HostAnalyzerInfo.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/InProcOrRemoteHostAnalyzerRunner.cs
  src/Workspaces/Core/Portable/Diagnostics/HostDiagnosticAnalyzers.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add new workspace event that gives handlers the opportunity to be processed immediately (#76932)
  src/EditorFeatures/Core/Remote/SolutionChecksumUpdater.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Events.cs
  src/Workspaces/Remote/Core/IRemoteAssetSynchronizationService.cs
  src/Workspaces/Remote/ServiceHub/Services/AssetSynchronization/RemoteAssetSynchronizationService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/EventMap.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update PublishData.json (#77140)
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

done with tests
  src/Features/CSharp/Portable/Snippets/CSharpSwitchSnippetProvider.cs
  src/Features/CSharpTest/Snippets/CSharpSwitchSnippetProviderTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Do not build Microsoft.CodeAnalysis.ExternalAccess.Copilot during source-build (#77136)
  src/Features/ExternalAccess/Copilot/Microsoft.CodeAnalysis.ExternalAccess.Copilot.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update Versions.props for Dev18 (#77138)
  eng/Versions.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update docs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

PR feedback
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix remote side
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Report LSP diagnostics with their severity.
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.Diagnostics.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

more
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedBackingFieldSymbol.cs
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

add main to release/dev18.0 flow
  .config/branch-merge.json
  .github/workflows/main-merge.yml
  azure-pipelines-official.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

add workflow-dispatch
  .github/workflows/main-merge.yml
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

removed per comments
  src/EditorFeatures/Core/DocumentationComments/AbstractDocumentationCommentCommandHandler.cs
  src/EditorFeatures/Core/DocumentationComments/DocumentationCommentSuggestion.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

remove unused usings
  src/EditorFeatures/Core/DocumentationComments/DocumentationCommentSuggestion.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove unneeded test
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.Diagnostics.cs
  src/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Use raw strings in tests
  src/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Shows how to replace exception with comment
  src/Analyzers/CSharp/CodeFixes/Copilot/CSharpImplementNotImplementedExceptionDiagnosticCodeFixProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Start generalizing, add more tests.
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/RuntimeAsyncRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix race during shutdown of the BuildHost server
  src/Workspaces/MSBuild/BuildHost/Program.cs
  src/Workspaces/MSBuild/BuildHost/Rpc/RpcServer.cs
  src/Workspaces/MSBuild/Core/MSBuild/BuildHostProcessManager.cs
  src/Workspaces/MSBuild/Core/Rpc/RpcClient.cs
  src/Workspaces/MSBuild/Test/RpcTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add main to release/dev18.0 flow (#77148)
  .config/branch-merge.json
  .github/workflows/main-merge.yml
  azure-pipelines-official.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix workspace command execution
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/AbstractLanguageServer.cs
  src/LanguageServer/ProtocolUnitTests/Commands/ExecuteWorkspaceCommandTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove async/await
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Updated engineering.
  .teamcity/settings.kts
  Directory.Packages.props
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update the spec
  docs/features/string-literals-data-section.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

IsCollectionBuilderMethodCallableWithoutAdditionalArguments()
  src/Analyzers/CSharp/Tests/UseCollectionExpression/UseCollectionExpressionForEmptyTests.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Improve code and tests
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit3/PartialEventsAndConstructorsTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Complete constructor implementation part
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Test/Emit3/PartialEventsAndConstructorsTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Detect data section string literal hash collisions (#77061)
  docs/features/string-literals-data-section.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageProvider.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Emit/EmitMetadataTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/CodeAnalysisTest/Emit/EmitOptionsTests.cs
  src/Compilers/Core/Portable/CodeGen/PrivateImplementationDetails.cs
  src/Compilers/Core/Portable/Diagnostic/CommonMessageProvider.cs
  src/Compilers/Core/Portable/Emit/EmitOptions.cs
  src/Compilers/Test/Core/Mocks/TestMessageProvider.cs
  src/Compilers/VisualBasic/Portable/Errors/ErrorFacts.vb
  src/Compilers/VisualBasic/Portable/Errors/MessageProvider.vb
  src/Features/CSharp/Portable/Diagnostics/LanguageServer/CSharpLspBuildOnlyDiagnostics.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add ability to rewrite symbol references in BoundTreeRewriter. (#73825)
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundTreeRewriter.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_WhileStatement.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Follow up on git cherry-pick e9709905697dd4012a47bb8da02339382b8eeeee
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Follow up on added ability to rewrite symbol references in BoundTreeRewriter. (#73886)
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder_Patterns.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundTreeRewriter.cs
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/FlowAnalysisPass.cs
  src/Compilers/CSharp/Portable/Lowering/BoundTreeToDifferentEnclosingContextRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/ClosureConversion.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Follow up on git cherry-pick 856814c8703418d97d7875cc55f40b8134a5a95b
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

improvements made
  src/Analyzers/CSharp/CodeFixes/Copilot/CSharpImplementNotImplementedExceptionDiagnosticCodeFixProvider.cs
  src/Features/CSharp/Portable/Copilot/CSharpCopilotCodeFixProvider.cs
  src/Features/CSharp/Portable/QuickInfo/CSharpSemanticQuickInfoProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move methods; update tests
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Use the new test framework for missing IDE0060 diagnostics
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add regression test for writing to Span<T>
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
