Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, azure-pipelines-compliance.yml, azure-pipelines-integration-dartlab.yml, azure-pipelines-integration-scouting.yml, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Avoid closures on analyzer classification cache hits
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_DeprioritizationCandidates.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix Razor test base XML documentation
  src/Razor/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/ToolingTestBase.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Clarify shared and executable-specific options names
  eng/test-runners/RegressionHarness.cs
  src/Tools/RunHelix/HelixTestRunner.cs
  src/Tools/RunHelix/Program.cs
  src/Tools/RunHelix/RunHelixOptions.cs
  src/Tools/RunHelix/TestHistoryManager.cs
  src/Tools/RunTests/ProcessTestExecutor.cs
  src/Tools/RunTests/Program.cs
  src/Tools/RunTests/RunTestOptions.cs
  src/Tools/RunTests/TestRunner.cs
  src/Tools/TestRunnerCommon/AssemblyDiscovery.cs
  src/Tools/TestRunnerCommon/Options.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Guard BuildHost disconnect diagnostics during manager disposal
  src/Workspaces/MSBuild/Core/MSBuild/BuildHostProcessManager.cs
  src/Workspaces/MSBuild/Test/BuildHostProcessManagerTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Match test execution model filenames to their types
  src/Tools/RunTests/ITestExecutor.cs
  src/Tools/RunTests/TestExecutionOptions.cs
  src/Tools/RunTests/TestResult.cs
  src/Tools/RunTests/TestResultInfo.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix Razor test EOF bug and immutability violation (#85827)
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.CohostingShared/Completion/CohostDocumentCompletionEndpoint.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Delegation/DelegatedCompletionHelper.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Protocol/Completion/RazorVSInternalCompletionList.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.UnitTests/Completion/Delegation/DelegatedCompletionHelperTest.cs
  src/Razor/src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.UnitTests/Cohost/CohostDocumentCompletionEndpointTest_VS.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Handle Razor text views without adapters
  src/Razor/src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/RazorLSPTextViewConnectionListener.cs
  src/Razor/src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.UnitTests/RazorLSPTextViewConnectionListenerTest.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Create failure log directory before reporting test failures
  eng/test-runners/RegressionHarness.cs
  src/Tools/RunTests/TestRunner.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix BuildHost test for net472
  src/Workspaces/MSBuild/Test/BuildHostProcessManagerTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix unexpected System.ArrayTypeMismatchException for captured method call receivers (#85811)
  .github/skills/patch-il-baselines/SKILL.md
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncSpillTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenCallTests.cs
  src/Compilers/CSharp/Test/Emit3/Symbols/UserDefinedCompoundAssignmentOperatorsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add roslyn-ide to Razor code owners
  .github/CODEOWNERS
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Unify Razor document diagnostics endpoints
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.CohostingShared/Diagnostics/CohostDocumentPullDiagnosticsEndpoint.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.CohostingShared/Diagnostics/CohostDocumentPullDiagnosticsEndpointBase.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.CohostingShared/Microsoft.CodeAnalysis.Razor.CohostingShared.projitems
  src/Razor/src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/LanguageClient/Cohost/CohostDocumentPullDiagnosticsEndpoint.cs
  src/Razor/src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/LanguageClient/Cohost/CohostDocumentPullDiagnosticsRegistration.cs
  src/Razor/src/Razor/src/Microsoft.VisualStudioCode.RazorExtension/Endpoints/DocumentPullDiagnosticsEndpoint.cs
  src/Razor/src/Razor/src/Microsoft.VisualStudioCode.RazorExtension/Endpoints/DocumentPullDiagnosticsRegistration.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostDocumentPullDiagnosticsTest.cs
  src/Razor/src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.UnitTests/Cohost/CohostDocumentPullDiagnosticsTest.cs
  src/Razor/src/Razor/test/Microsoft.VisualStudioCode.RazorExtension.UnitTests/Endpoints/CohostDocumentPullDiagnosticsTest.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Document preference for host-specific test classes
  .github/memory/testing/razor.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Allow trailing text after documentation tags
  docs/razor/documentation-directive.md
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/DocumentationDirectiveCodeGenerationTest.cs
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/DocumentationDirectiveIntegrationTest.cs
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/HtmlBlockTest.cs
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/DocumentationDirectiveCodeGenerationTest/TrailingTextAfterCodeExample/TestComponent.codegen.cs
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/DocumentationDirectiveCodeGenerationTest/TrailingTextAfterCodeExample/TestComponent.decl.codegen.cs
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/DocumentationDirectiveCodeGenerationTest/TrailingTextAfterCodeExample/TestComponent.decl.ir.txt
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/DocumentationDirectiveCodeGenerationTest/TrailingTextAfterCodeExample/TestComponent.decl.mappings.txt
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/DocumentationDirectiveCodeGenerationTest/TrailingTextAfterCodeExample/TestComponent.ir.txt
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/DocumentationDirectiveCodeGenerationTest/TrailingTextAfterCodeExample/TestComponent.stree.txt
  src/Razor/src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/Language/Legacy/HtmlMarkupParser.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix documentation mappings with ordinary line pragmas
  docs/razor/documentation-directive.md
  src/Razor/src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/DocumentationDirectiveIntegrationTest.cs
  src/Razor/src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/Language/Intermediate/DocumentationIntermediateNode.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Unsafe evolution: avoid constructor recursion (#85773)
  src/Compilers/CSharp/Portable/Binder/Binder_Unsafe.cs
  src/Compilers/CSharp/Portable/Errors/LazyUnsafeConstructorConstraintDiagnosticInfo.cs
  src/Compilers/CSharp/Test/CSharp15/UnsafeEvolutionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add Razor compiler team to code owners
  .github/CODEOWNERS
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Allow uncontended semaphore waits without multithreading
  src/Compilers/Core/Portable/InternalUtilities/SemaphoreSlimExtensions.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Threading/SemaphoreSlimExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Simplify binlog fetcher and command gate; drop agent write tool
  .github/aw/actions-lock.json
  .github/workflows/build-failure-analysis-command.agent.lock.yml
  .github/workflows/build-failure-analysis-command.agent.md
  .github/workflows/build-failure-analysis.agent.lock.yml
  .github/workflows/scripts/fetch-build-binlogs.cs
  .github/workflows/shared/build-failure-analysis-shared.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix analyzer collision in framework bootstrap leg
  eng/Packages.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Unsafe evolution: use safety documentation for unnecessary unsafe (#85842)
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryUnsafeModifier/CSharpRemoveUnnecessaryUnsafeModifierDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixesResources.resx
  src/Analyzers/CSharp/CodeFixes/RemoveUnneccessaryUnsafeModifier/CSharpRemoveUnnecessaryUnsafeModifierCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.cs.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.de.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.es.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.fr.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.it.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.ja.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.ko.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.pl.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.pt-BR.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.ru.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.tr.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.zh-Hans.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.zh-Hant.xlf
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryUnsafeModifier/RemoveUnnecessaryUnsafeModifierTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Sort F# Navigate To results the way C# and VB results are sorted
  src/Features/Core/Portable/NavigateTo/INavigateToSearchResult.cs
  src/Features/Core/Portable/NavigateTo/RoslynNavigateToItem.cs
  src/VisualStudio/ExternalAccess/Core/FSharp/Internal/NavigateTo/FSharpNavigateToSearchService.cs
  src/VisualStudio/ExternalAccess/Core/FSharp/Internal/NavigateTo/InternalFSharpNavigateToSearchResult.cs
  src/VisualStudio/ExternalAccess/Core/FSharp/NavigateTo/FSharpNavigateToSearchResult.cs
  src/VisualStudio/ExternalAccess/Test/FSharp/FSharpNavigateToSearchResultTests.cs
  src/VisualStudio/ExternalAccess/Test/Microsoft.VisualStudio.LanguageServices.ExternalAccess.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Record the F# Navigate To members in the internal API baseline
  src/VisualStudio/ExternalAccess/Core/FSharp/NavigateTo/FSharpNavigateToSearchResult.cs
  src/VisualStudio/ExternalAccess/Core/InternalAPI.Unshipped.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Let F# say whether a Navigate To name matched in case and where
  src/VisualStudio/ExternalAccess/Core/FSharp/Internal/NavigateTo/InternalFSharpNavigateToSearchResult.cs
  src/VisualStudio/ExternalAccess/Core/FSharp/NavigateTo/FSharpNavigateToSearchResult.cs
  src/VisualStudio/ExternalAccess/Core/InternalAPI.Unshipped.txt
  src/VisualStudio/ExternalAccess/Test/FSharp/FSharpNavigateToSearchResultTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Sort the results in a language with no compilation, not in C#
  src/VisualStudio/ExternalAccess/Test/FSharp/FSharpNavigateToSearchResultTests.cs
  src/VisualStudio/ExternalAccess/Test/FSharp/NoCompilationLanguage.cs
  src/VisualStudio/ExternalAccess/Test/Microsoft.VisualStudio.LanguageServices.ExternalAccess.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Say that the active document may be absent, and give the files their byte order mark
  src/VisualStudio/ExternalAccess/Core/FSharp/Internal/NavigateTo/FSharpNavigateToSearchService.cs
  src/VisualStudio/ExternalAccess/Core/FSharp/Internal/NavigateTo/InternalFSharpNavigateToSearchResult.cs
  src/VisualStudio/ExternalAccess/Test/FSharp/FSharpNavigateToSearchResultTests.cs
  src/VisualStudio/ExternalAccess/Test/FSharp/NoCompilationLanguage.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Let F# hand Find All References an already classified line
  src/VisualStudio/ExternalAccess/Core/FSharp/FindUsages/FSharpSourceReferenceItem.cs
  src/VisualStudio/ExternalAccess/Test/FSharp/FSharpSourceReferenceItemTests.cs
  src/VisualStudio/ExternalAccess/Test/Microsoft.VisualStudio.LanguageServices.ExternalAccess.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Hold the reference in a language with no compilation, not in C#
  src/VisualStudio/ExternalAccess/Test/FSharp/FSharpSourceReferenceItemTests.cs
  src/VisualStudio/ExternalAccess/Test/FSharp/NoCompilationLanguage.cs
  src/VisualStudio/ExternalAccess/Test/Microsoft.VisualStudio.LanguageServices.ExternalAccess.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Give the changed file its byte order mark back
  src/VisualStudio/ExternalAccess/Core/FSharp/FindUsages/FSharpSourceReferenceItem.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Record the new FSharpSourceReferenceItem constructor in the internal API baseline
  src/VisualStudio/ExternalAccess/Core/InternalAPI.Unshipped.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Give the new files the byte order mark the repository asks for
  src/VisualStudio/ExternalAccess/Test/FSharp/FSharpSourceReferenceItemTests.cs
  src/VisualStudio/ExternalAccess/Test/FSharp/NoCompilationLanguage.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Simplify tests
  src/Tools/dotnet-roslyn-tools/Test/Insertion/AzureInsertionChangelogTests.cs
  src/Tools/dotnet-roslyn-tools/Test/Insertion/InsertionChangelogTests.cs
  src/Tools/dotnet-roslyn-tools/Test/PRFinder/CommitHistoryFilterTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move the breaking change to its own section
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 11.md
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 12.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add exclusions
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Clarify method name
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDestructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolExtensions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Implement the API
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CrefTypeParameterSymbol.cs
  src/Compilers/CSharp/Test/Symbol/DocumentationComments/CrefTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Emit corect IL for exhaustive switch statements that use a separate Dag for lowering
  src/Compilers/CSharp/Portable/BoundTree/BoundSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterlessThrowMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedThrowSwitchExpressionExceptionMethod.cs
  src/Compilers/CSharp/Test/CSharp15/UnionsTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests_ListPatterns.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix typos in comments
  src/Compilers/CSharp/Portable/BoundTree/BoundSwitchStatement.cs
  src/Compilers/CSharp/Test/CSharp15/UnionsTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove unused test execution options
  src/Tools/RunTests/TestExecutionOptions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml
