Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Use regex source generator
  src/Tools/dotnet-roslyn-tools/Tool/Authentication/PopUps/AuthenticateEditorPopUp.cs
  src/Tools/dotnet-roslyn-tools/Tool/CreateReleaseTags/CreateReleaseTags.cs
  src/Tools/dotnet-roslyn-tools/Tool/NuGet/NuGetDependencyFinder.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRFinder/Hosts/Azure.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRFinder/Hosts/GitHub.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fixup Options and remove unused extensions
  src/Tools/dotnet-roslyn-tools/Tool/CommandLineExtensions.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/AuthenticateCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/DartTestCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/NuGetPublishCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/VSBranchInfoCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRFinder/Hosts/Azure.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fixup editorconfig
  src/Tools/dotnet-roslyn-tools/Tool/.editorconfig
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix naming and whitespace
  src/Tools/dotnet-roslyn-tools/Tool/Authentication/Authenticator.cs
  src/Tools/dotnet-roslyn-tools/Tool/Authentication/PopUps/AuthenticateEditorPopUp.cs
  src/Tools/dotnet-roslyn-tools/Tool/Authentication/PopUps/EditorPopUp.cs
  src/Tools/dotnet-roslyn-tools/Tool/Authentication/PopUps/LocalHelpers.cs
  src/Tools/dotnet-roslyn-tools/Tool/Authentication/PopUps/UxManager.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/NuGetPublishCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/PRTaggerCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/CreateReleaseTags/CreateReleaseTags.cs
  src/Tools/dotnet-roslyn-tools/Tool/DartTest/DartTest.cs
  src/Tools/dotnet-roslyn-tools/Tool/NuGet/NuGetPrepare.cs
  src/Tools/dotnet-roslyn-tools/Tool/NuGet/NuGetPublish.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRFinder/Formatters/ChangelogFormatter.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRFinder/Hosts/Azure.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRFinder/Hosts/GitHub.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRFinder/PRFinder.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRTagger/PRTagger.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix logging
  src/Tools/dotnet-roslyn-tools/Tool/Authentication/EncodedFile.cs
  src/Tools/dotnet-roslyn-tools/Tool/Authentication/LocalSettings.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/PRTaggerCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/CreateReleaseTags/CreateReleaseTags.cs
  src/Tools/dotnet-roslyn-tools/Tool/DartTest/DartTest.cs
  src/Tools/dotnet-roslyn-tools/Tool/NuGet/NuGetDependencyFinder.cs
  src/Tools/dotnet-roslyn-tools/Tool/NuGet/NuGetPrepare.cs
  src/Tools/dotnet-roslyn-tools/Tool/NuGet/NuGetPublish.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRFinder/Hosts/GitHub.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRFinder/PRFinder.cs
  src/Tools/dotnet-roslyn-tools/Tool/PRTagger/PRTagger.cs
  src/Tools/dotnet-roslyn-tools/Tool/Utilities/AzDOConnection.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update dependencies
  src/Tools/dotnet-roslyn-tools/Tool/Commands/AuthenticateCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/CommonOptions.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/CreateReleaseTagsCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/DartTestCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/NuGetDependenciesCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/NuGetPrepareCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/NuGetPublishCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/PRFinderCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/PRTaggerCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/RootRoslynCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Commands/VSBranchInfoCommand.cs
  src/Tools/dotnet-roslyn-tools/Tool/Microsoft.RoslynTools.csproj
  src/Tools/dotnet-roslyn-tools/Tool/Program.cs
  src/Tools/dotnet-roslyn-tools/Tool/Utilities/AzDOConnection.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Pull in Cyrus's suggested tweaks around ToImmutableSegmentedDictionaryAndFree
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/PEDeltaAssemblyBuilder.cs
  src/Compilers/Core/Portable/Collections/DictionaryExtensions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GroupedAnalyzerActions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Target test projects in Workspaces and Features layers to NetVSShared (#76918)
  src/Analyzers/CSharp/Tests/ImplementInterface/ImplementInterfaceTests.cs
  src/Features/CSharpTest/Microsoft.CodeAnalysis.CSharp.Features.UnitTests.csproj
  src/Features/Test/Microsoft.CodeAnalysis.Features.UnitTests.csproj
  src/Features/TestUtilities/Microsoft.CodeAnalysis.Features.Test.Utilities.csproj
  src/Features/VisualBasicTest/Microsoft.CodeAnalysis.VisualBasic.Features.UnitTests.vbproj
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/System.Collections.Immutable.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/System.Collections.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/System.Linq.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/System.Runtime.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/SemanticSearch.ReferenceAssemblies.csproj
  src/Workspaces/CSharpTest/Microsoft.CodeAnalysis.CSharp.Workspaces.UnitTests.csproj
  src/Workspaces/CoreTest/Microsoft.CodeAnalysis.Workspaces.UnitTests.csproj
  src/Workspaces/CoreTestUtilities/Microsoft.CodeAnalysis.Workspaces.Test.Utilities.csproj
  src/Workspaces/Remote/ServiceHubTest/Microsoft.CodeAnalysis.Remote.ServiceHub.UnitTests.csproj
  src/Workspaces/VisualBasicTest/Microsoft.CodeAnalysis.VisualBasic.Workspaces.UnitTests.vbproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove accidentally added files (#76924)
  src/Tools/SemanticSearch/ReferenceAssemblies/Baselines/Microsoft.CodeAnalysis.CSharp.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Baselines/Microsoft.CodeAnalysis.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Baselines/System.Collections.Immutable.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Baselines/System.Collections.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Baselines/System.Linq.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Baselines/System.Runtime.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

;
  src/Compilers/Core/Portable/Collections/DictionaryExtensions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Checking something
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/PEDeltaAssemblyBuilder.cs
  src/Compilers/Core/Portable/Collections/DictionaryExtensions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GroupedAnalyzerActions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Restore original
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/PEDeltaAssemblyBuilder.cs
  src/Compilers/Core/Portable/Collections/DictionaryExtensions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GroupedAnalyzerActions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

More tests
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add support for CollectionBuilder types
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove arg support for CollectionBuilder types
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove arg support for dictionary interface types
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert "Rename"
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

More tests
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Rename
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Reapply "Rename"
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add mapping from option to unified setting path
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/VisualStudio/CSharp/Impl/UnifiedSettings/csharpSettings.registration.json
  src/VisualStudio/Core/Test.Next/UnifiedSettings/UnifiedSettingsTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix the feature comments
  src/VisualStudio/CSharp/Impl/UnifiedSettings/csharpSettings.registration.json
  src/VisualStudio/Core/Test.Next/UnifiedSettings/UnifiedSettingsTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix argument
  src/VisualStudio/Core/Test.Next/UnifiedSettings/UnifiedSettingsTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

WIP: Add new workspace event that gives handlers the opportunity to be processed immediately
  src/EditorFeatures/Core/Remote/SolutionChecksumUpdater.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Events.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Always specify Image width/height for glyphs sourced from IGlyphService
  src/VisualStudio/Core/Def/CommonControls/MemberSelection.xaml
  src/VisualStudio/Core/Def/MoveStaticMembers/StaticMemberSelection.xaml
  src/VisualStudio/Core/Def/PickMembers/PickMembersDialog.xaml
  src/VisualStudio/Core/Def/PullMemberUp/MainDialog/PullMemberUpDialog.xaml
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingTree.xaml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

don't use nullability annotations
  src/Workspaces/Core/Portable/Workspace/Workspace_Events.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update rebuild test Semantic Search Refs exclusions
  eng/test-rebuild.ps1
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update rebuild test Semantic Search Refs exclusions (#76933)
  eng/test-rebuild.ps1
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove arg support for CollectionBuilder types
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add a big old range for funciton ids that don't fit into other categories
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

PROTOTYPE comments
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix test
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove the _textChange ABWQ point of asynchronicity to try and further reduce the amount of serialization and deserialization
  src/EditorFeatures/Core/Remote/SolutionChecksumUpdater.cs
  src/VisualStudio/Core/Def/Remote/VisualStudioWorkspaceServiceHubConnector.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/Workspaces/Remote/Core/IRemoteAssetSynchronizationService.cs
  src/Workspaces/Remote/ServiceHub/Services/AssetSynchronization/RemoteAssetSynchronizationService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix stale link in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add markup link checker to GitHub workflow
  .github/workflows/build.yml
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Skip aka.ms links that don't validate
  .github/workflows/docs_validate.yml
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Move merging of partial members to an earlier phase of members construction. (#76871)
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/PartialPropertiesTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Added simpler console logger.
  src/Tools/dotnet-roslyn-tools/Tool/Commands/CommonOptions.cs
  src/Tools/dotnet-roslyn-tools/Tool/Logging/ConsoleLoggerExtensions.cs
  src/Tools/dotnet-roslyn-tools/Tool/Logging/SimpleConsoleFormatter.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Switch a couple tests from FeaturesTestCompositions to EditorTestCompositions to allow composition to include an IThreadingContext
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

dispose of disable of intellicode line completions
  src/EditorFeatures/Core/DocumentationComments/AbstractDocumentationCommentCommandHandler.cs
  src/EditorFeatures/Core/DocumentationComments/DocumentationCommentSuggestion.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml
