Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Clarify doc comment
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove unused usings
  src/Compilers/CSharp/Test/Syntax/Parsing/ForStatementParsingTest.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Cleanup
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

add resource to automate github action merge PRs
  .github/policies/resourceManagement.yml
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert implicit argument name
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert "Add implicit parameter name for first implicit argument"
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/AnalyzedArguments.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution_ArgsToParameters.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

check for excluded files
  src/EditorFeatures/Core/DocumentationComments/CopilotGenerateDocumentationCommentManager.cs
  src/EditorFeatures/Core/DocumentationComments/CopilotGenerateDocumentationCommentProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

remove unused usings
  src/EditorFeatures/Core/DocumentationComments/CopilotGenerateDocumentationCommentManager.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add placeholder option for vs-validation to skip optimization
  azure-pipelines/vs-validation.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix indentation
  src/EditorFeatures/Core/DocumentationComments/CopilotGenerateDocumentationCommentProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Preserve encoding during DocumentState updates
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/MSBuild/Test/VisualStudioMSBuildWorkspaceTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix formatting
  src/EditorFeatures/Core/DocumentationComments/CopilotGenerateDocumentationCommentProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix issue where we were crashing trying to get inheritance margin information for SG docs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder_ProjectIndex.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Docs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder_ProjectIndex.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Flesh out metadata emit and validation around extension marker method
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/ReceiverParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SynthesizedExtensionMarker.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Extension.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SynthesizedSourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordOrdinaryMethod.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix more diagnostics
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/CSharp/MetaAnalyzers/Fixers/CSharpApplyDiagnosticAnalyzerAttributeFix.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/CSharp/MetaAnalyzers/Fixers/CSharpCompareSymbolsCorrectlyFix.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/CSharp/MetaAnalyzers/Fixers/CSharpConfigureGeneratedCodeAnalysisFix.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/CSharp/MetaAnalyzers/Fixers/CSharpEnableConcurrentExecutionFix.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/CSharp/MetaAnalyzers/Fixers/CSharpPreferIsKindFix.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/FixAnalyzers/FixerWithFixAllAnalyzer.Fixer.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/Fixers/AnalyzerReleaseTrackingFix.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/Fixers/DefineDiagnosticDescriptorArgumentsCorrectlyFix.cs
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/CSharp/CodeFixes/AvoidAllocationWithArrayEmptyCodeFix.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/CodeFixes/AnnotatePublicApiFix.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/CodeFixes/DeclarePublicApiFix.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/CodeFixes/NullableEnablePublicApiFix.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/CSharpApplyTraitToClass.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/CSharpAvoidOptSuffixForNullableEnableCodeCodeFixProvider.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/CSharpDoNotMixAttributesFromDifferentVersionsOfMEF.Fixer.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/CSharpDoNotUseDebugAssertForInterpolatedStringsFixer.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/CSharpPartsExportedWithMEFv2MustBeMarkedAsShared.Fixer.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/CSharpRunIterations.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/NumberCommentsRefactoring.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/PreferNullLiteralCodeFixProvider.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/Core/ExportedPartsShouldHaveImportingConstructorCodeFixProvider.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/Core/ImportingConstructorShouldBeObsoleteCodeFixProvider.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/Core/TestExportsShouldNotBeDiscoverableCodeFixProvider.cs
  src/RoslynAnalyzers/Text.Analyzers/CSharp/CSharpIdentifiersShouldBeSpelledCorrectly.Fixer.cs
  src/RoslynAnalyzers/Utilities/Compiler/Extensions/IOperationExtensions.cs
  src/RoslynAnalyzers/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/AnySanitizers.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Resolve classic and new extension methods together
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_QueryErrors.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/AnalyzedArguments.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MemberAnalysisResult.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodGroup.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolutionResult.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution_ArgsToParameters.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/ExtensionMethodReferenceRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSymbolExtensions.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix up unshipped api
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.AnalyzerUtilities/PublicAPI.Unshipped.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Generate-Documentation Check if file is excluded (#77353)
  src/EditorFeatures/Core/DocumentationComments/CopilotGenerateDocumentationCommentManager.cs
  src/EditorFeatures/Core/DocumentationComments/CopilotGenerateDocumentationCommentProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix duplicate references for runtime assemblies
  src/Workspaces/Remote/ServiceHub.CoreComponents/CoreComponents.Shared.targets
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Preserve encoding during DocumentState updates
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/MSBuildTest/VisualStudioMSBuildWorkspaceTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix more diagnostics
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/BasicSymbolIsBannedInAnalyzersAnalyzer.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/MetaAnalyzers/BasicDiagnosticAnalyzerAPIUsageAnalyzer.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/MetaAnalyzers/BasicDiagnosticAnalyzerFieldsAnalyzer.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/MetaAnalyzers/BasicRegisterActionAnalyzer.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/MetaAnalyzers/BasicReportDiagnosticAnalyzer.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/MetaAnalyzers/Fixers/BasicApplyDiagnosticAnalyzerAttributeFix.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/MetaAnalyzers/Fixers/BasicCompareSymbolsCorrectlyFix.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/MetaAnalyzers/Fixers/BasicConfigureGeneratedCodeAnalysisFix.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/MetaAnalyzers/Fixers/BasicEnableConcurrentExecutionFix.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/MetaAnalyzers/Fixers/BasicPreferIsKindFix.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/VisualBasicUpgradeMSBuildWorkspaceAnalyzer.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/VisualBasic/BasicRestrictedInternalsVisibleToAnalyzer.vb
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/VisualBasic/BasicSymbolIsBannedAnalyzer.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/BasicDoNotMixAttributesFromDifferentVersionsOfMEF.Fixer.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/BasicInvokeTheCorrectPropertyToEnsureCorrectUseSiteDiagnostics.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/BasicPartsExportedWithMEFv2MustBeMarkedAsShared.Fixer.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/BasicSpecializedEnumerableCreationAnalyzer.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/BasicSymbolDeclaredEventMustBeGeneratedForSourceSymbols.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/VisualBasicApplyTraitToClass.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/VisualBasicCreateTestAccessor.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/VisualBasicDoNotCopyValue.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/VisualBasicExposeMemberForTesting.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/VisualBasicRunIterations.vb
  src/RoslynAnalyzers/Text.Analyzers/VisualBasic/BasicIdentifiersShouldBeSpelledCorrectly.Fixer.vb
  src/RoslynAnalyzers/Utilities/Refactoring.VisualBasic/Extensions/StatementSyntaxExtensions.vb
  src/RoslynAnalyzers/Utilities/Refactoring.VisualBasic/Extensions/SyntaxNodeExtensions.vb
  src/RoslynAnalyzers/Utilities/Refactoring.VisualBasic/VisualBasicRefactoringHelpers.vb
  src/RoslynAnalyzers/Utilities/Refactoring.VisualBasic/VisualBasicSyntaxFacts.vb
  src/RoslynAnalyzers/Utilities/Refactoring.VisualBasic/VisualBasicSyntaxKinds.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add tests
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

More tests
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add a PROTOTYPE comment
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

PR feedback
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Implement signature conflict check for extension implementation methods (#77338)
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionImplementationMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Flesh out metadata emit and validation around extension marker method (#77358)
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/ReceiverParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SynthesizedExtensionMarker.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Extension.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SynthesizedSourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordOrdinaryMethod.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Dictionary expressions: support concrete target types that do not use [CollectionBuilder]
  src/Compilers/CSharp/Test/Emit3/Semantics/DictionaryExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix even more diagnostics
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/SymbolIsBannedAnalyzer.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/CodeFixes/AnnotatePublicApiFix.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/CSharpCreateTestAccessor.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/CSharpDoNotUseDebugAssertForInterpolatedStringsFixer.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/CSharpExposeMemberForTesting.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/VisualBasicCreateTestAccessor.vb
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/VisualBasicExposeMemberForTesting.vb
  src/RoslynAnalyzers/Utilities/FlowAnalysis/FlowAnalysis/Analysis/CopyAnalysis/CopyAbstractValue.cs
  src/RoslynAnalyzers/Utilities/FlowAnalysis/FlowAnalysis/Analysis/DisposeAnalysis/DisposeAbstractValue.cs
  src/RoslynAnalyzers/Utilities/FlowAnalysis/FlowAnalysis/Analysis/GlobalFlowStateAnalysis/GlobalFlowStateAnalysisValueSet.cs
  src/RoslynAnalyzers/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PointsToAnalysis/PointsToAnalysisContext.cs
  src/RoslynAnalyzers/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataAbstractValue.cs
  src/RoslynAnalyzers/Utilities/FlowAnalysis/FlowAnalysis/Analysis/ValueContentAnalysis/ValueContentAbstractValue.cs
  src/RoslynAnalyzers/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowAnalysis.cs
  src/RoslynAnalyzers/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowOperationVisitor.cs
  src/RoslynAnalyzers/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/InterproceduralAnalysisConfiguration.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Simplify and adjust getter only case
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedBackingFieldSymbol.cs
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

adjust comment
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add test
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

First attempt at cleaning up package load to do less thread switching during InitializeAsync
  eng/Directory.Packages.props
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/VisualStudio/CSharp/Impl/CSharpPackage.cs
  src/VisualStudio/Core/Def/Interop/IVsAppId.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage`2.cs
  src/VisualStudio/Core/Def/ProjectSystem/MiscellaneousFilesWorkspace.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/Core/Def/Utilities/IVsShellExtensions.cs
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicPackage.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml
