Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: doc, *.md, .vscode, .github, azure-pipelines/release.yml
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

first generated instructions
  .github/copilot-instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

add empty line
  .github/copilot-instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove unused local
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

be more precise
  .github/copilot-instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move into local function
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Apply suggestion from @JoeRobich
  .github/copilot-instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Cleanup tests
  eng/Packages.props
  src/Compilers/Core/MSBuildTask/Microsoft.VisualBasic.Core.targets
  src/Compilers/Core/MSBuildTaskTests/Microsoft.Build.Tasks.CodeAnalysis.UnitTests.csproj
  src/Compilers/Core/MSBuildTaskTests/SdkIntegrationTests.cs
  src/Compilers/Core/MSBuildTaskTests/TargetTests.cs
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/DotNetSdkTestBase.cs
  src/Tools/Replay/Replay.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Avoid double-delete when racing on deleted directory (#80582)
  src/Compilers/Core/Portable/DiagnosticAnalyzer/ShadowCopyAnalyzerPathResolver.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix issue with reordered with-params
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests_WithElement_Extra.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

MOve method
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Index and Range work
  Roslyn.sln
  src/Dependencies/Contracts/Index.cs
  src/Dependencies/Contracts/Range.cs
  src/Tools/Replay/Replay.cs
  src/Tools/Replay/Replay.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

ide and compiler specific instructions
  .github/instructions/Compiler.instructions.md
  .github/instructions/IDE.instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

change build.cmd to build.sh
  .github/instructions/Compiler.instructions.md
  .github/instructions/IDE.instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use permalink
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedCollectionBuilderProjectedMethodSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use permalink
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove Key Service Boundaries
  .github/copilot-instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Follow conventions
  .github/copilot-instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add copilot instructions file (#80615)
  .github/copilot-instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Remove deploy to VS instructions
  .github/instructions/IDE.instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add LanguageServer folder description
  .github/instructions/IDE.instructions.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Make string concat assert more precise
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringConcat.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStringConcat.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add tests
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Get test artifacts
  src/Compilers/Core/MSBuildTaskTests/SdkIntegrationTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Handle potential null in extension lookup
  src/Compilers/CSharp/Portable/Binder/Binder_Crefs.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/SingleLookupResult.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

WIP
  src/EditorFeatures/Core/Editor/EditorLayerExtensionManager.cs
  src/Features/Core/Portable/Common/AbstractProjectExtensionProvider.cs
  src/Features/Core/Portable/Completion/CompletionService.ProviderManager.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use IncludeExpectedOutput
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Clarify
  src/Compilers/Core/Portable/SourceGeneration/IncrementalContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/ValueSourceExtensions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Use core compiler on netfx hosts with toolset package
  src/NuGet/Microsoft.Net.Compilers.Toolset/AnyCpu/build/Microsoft.Net.Compilers.Toolset.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Revert "Docs"
  src/EditorFeatures/Core/BackgroundWorkIndicator/IBackgroundWorkIndicatorFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml
