Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Move comment
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

PR Feedback
  src/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHelper.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionChanges.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentState.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix up urls in docs
  docs/analyzers/FixAllProvider.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/AnalyzerReleases.Shipped.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/CodeAnalysisDiagnosticsResources.resx
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticDescriptorCreationAnalyzer_ReleaseTracking.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/Fixers/AnalyzerReleaseTrackingFix.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.cs.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.de.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.es.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.fr.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.it.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.ja.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.ko.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.pl.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.pt-BR.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.ru.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.tr.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.zh-Hans.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.zh-Hant.xlf
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.sarif
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/AnalyzerReleases.Shipped.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/SymbolIsBannedAnalyzer.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers.sarif
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/Analyzers/AnalyzerReleases.Shipped.md
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/Analyzers/DeclarePublicApiAnalyzer_Diagnostics.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.md
  src/RoslynAnalyzers/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.sarif
  src/RoslynAnalyzers/PublicApiAnalyzers/PublicApiAnalyzers.Help.md
  src/RoslynAnalyzers/PublicApiAnalyzers/RulesMissingDocumentation.md
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Add rules docs
  docs/roslyn-analyzers/README.md
  docs/roslyn-analyzers/rules/RS1022.md
  docs/roslyn-analyzers/rules/RS1038.md
  docs/roslyn-analyzers/rules/RS1041.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/AnalyzerReleases.Unshipped.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/CompilerExtensionStrictApiAnalyzer.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/CompilerExtensionTargetFrameworkAnalyzer.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerAPIUsageAnalyzer.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.sarif
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Regenerate documentation
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/RulesMissingDocumentation.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers.md
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/RulesMissingDocumentation.md
  src/RoslynAnalyzers/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.md
  src/RoslynAnalyzers/PublicApiAnalyzers/RulesMissingDocumentation.md
  src/RoslynAnalyzers/Tools/GenerateDocumentationAndConfigFiles/Program.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Silence warning about release note header
  .editorconfig
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Update default .NET Core metadata references
  src/RoslynAnalyzers/Test.Utilities/AdditionalMetadataReferences.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Add build utils to simplify local package sharing
  .gitignore
  eng/targets/Imports.targets
  eng/targets/Settings.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Semantic Search: Add support for async queries and FAR tool
  src/Features/CSharp/Portable/SemanticSearch/CSharpSemanticSearchService.cs
  src/Features/CSharp/Portable/SemanticSearch/CSharpSemanticSearchUtilities.cs
  src/Features/CSharpTest/SemanticSearch/CSharpSemanticSearchServiceTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/SemanticSearch/AbstractSemanticSearchService.cs
  src/Features/Core/Portable/SemanticSearch/QueryExecutionContext.cs
  src/Features/Core/Portable/SemanticSearch/ReferencingSymbolsFinder.cs
  src/Features/Core/Portable/SemanticSearch/SemanticSearchProjectConfiguration.cs
  src/Features/Core/Portable/SemanticSearch/SemanticSearchUtilities.cs
  src/Features/Core/Portable/SemanticSearch/SemanticSearchWorkspace.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Tools/SemanticSearch/ReferenceAssemblies/ApiSet/System.Runtime.txt
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/System.Runtime.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

77910: Update the link to the file Portable PDB v1.0: Format Specification
  docs/specs/PortablePdb-Metadata.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Allow the new Razor project to access protocol types
  src/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Use final Roslyn package version.
  eng/Versions.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Remove schedule from unsupported branch (#77834)
  azure-pipelines-official.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Remove schedule from unsupported branch (#77835)
  azure-pipelines-official.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Remove richnav pipeline and package (#77902)
  azure-pipelines-richnav.yml
  eng/Directory.Packages.props
  eng/targets/Settings.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Update the link to the file Portable PDB v1.0: Format Specification (#77911)
  docs/specs/PortablePdb-Metadata.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

<<VERSION_BUMP>> 2025.1.1 to 2025.1.2
  eng-Metalama/MainVersion.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Execute core compiler from full framework msbuild
  .vscode/launch.json
  .vscode/tasks.json
  src/Compilers/Core/CommandLine/NativeMethods.cs
  src/Compilers/Core/MSBuildTask/InteractiveCompiler.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/ManagedToolTask.cs
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.VisualBasic.Core.targets
  src/Compilers/Core/MSBuildTask/README.md
  src/Compilers/Core/MSBuildTask/Utilities.cs
  src/Compilers/Shared/BuildClient.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/Shared/NamedPipeUtil.cs
  src/Compilers/Shared/RuntimeHostInfo.cs
  src/NuGet/Microsoft.Net.Compilers.Toolset/AnyCpu/Microsoft.Net.Compilers.Toolset.Package.csproj
  src/NuGet/Microsoft.Net.Compilers.Toolset/DesktopCompilerArtifacts.targets
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Dictionary expressions: support user-defined and dynamic conversions for expression and spread elements for dictionary target types (#77860)
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 10.md
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/DictionaryExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fall back to current directory for build tasks
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fixup a test of RuntimeHostInfo.GetProcessInfo
  src/Compilers/Server/VBCSCompilerTests/CompilerServerApiTest.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Update BuildBoss to expect binfx artifact
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Add missing docs
  src/Tools/ExternalAccess/CustomMessage/External/CustomMessageContext.cs
  src/Tools/ExternalAccess/CustomMessage/External/DocumentLinePosition.cs
  src/Tools/ExternalAccess/CustomMessage/External/ICustomMessageDocumentHandler.cs
  src/Tools/ExternalAccess/CustomMessage/External/ICustomMessageHandler.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Apply suggestions from code review
  src/Compilers/Core/Portable/DiagnosticAnalyzer/ShadowCopyAnalyzerPathResolver.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Dictionary expressions: remove PROTOTYPE comments (#77876)
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/DictionaryExpressionTests.cs
  src/Compilers/Test/Core/TestResource.resx
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Feedback from analyzer loading change (#77780)
  src/Compilers/Core/Portable/DiagnosticAnalyzer/ShadowCopyAnalyzerPathResolver.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

PR feedback
  src/Tools/ExternalAccess/Razor/RazorAnalyzerAssemblyResolver.cs
  src/Tools/ExternalAccess/RazorTest/RazorAnalyzerAssemblyResolverTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Avoid computations in AnalyzerAssemblyLoader.AddDependencyLocation
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Reduce main thread switches in VisualStudioProjectFactory.CreateAndAddToWorkspaceAsync
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioProjectFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Simplify
  src/Workspaces/Remote/ServiceHub/Host/TestUtils.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Update Language Feature Status.md
  docs/Language Feature Status.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Use NoWarn for RS2007
  .editorconfig
  src/RoslynAnalyzers/Directory.Build.targets
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

bottom of table
  docs/Language Feature Status.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Dictionary expressions: disallow collection arguments for [CollectionBuilder] types
  src/Analyzers/CSharp/Tests/UseCollectionExpression/UseCollectionExpressionForEmptyTests.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundWithElement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionArgumentTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Simplify serialization
  src/Workspaces/Core/Portable/Workspace/Solution/StateChecksums.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Extensions: update feature status
  docs/Language Feature Status.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Skip tests
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/UnitTests/DoNotCopyValueTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.SolutionCreator.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Just use ABWQ cancellation token CA(true) to avoid thread jumping
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioProjectFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml
