Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Exclude identifiers in attributes from identifier map
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

more
  src/Compilers/Test/Core/Assert/AssertEx.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add suggested numeric test.
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Document breaking changes
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 9.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

More feedback.
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

fix tests
  src/EditorFeatures/Core.Wpf/Lightup/ISmartRenameSessionWrapper.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Resolve merge conflicts
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/TypeDeclarationSyntax.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit3/ExtensionTypeTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ExtensionKeywordRecommenderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/CSharpSignatureHelpCommandHandlerTests.vb
  src/Features/CSharp/Portable/Snippets/AbstractCSharpTypeSnippetProvider.cs
  src/Features/Lsif/GeneratorTest/OutputFormatTests.vb
  src/Features/Lsif/GeneratorTest/SemanticTokensTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Improve the doc
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 10.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add `Enumerable.Reverse(this T[])` polyfill
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseRecursivePatterns/UseRecursivePatternsCodeRefactoringProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix null coalescing operator emit with span conversion
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingOperator.cs
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

temp commit
  src/LanguageServer/Protocol/Handler/RequestTelemetryLogger.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Switch to new VMR control set (#75056)
  eng/Directory.Packages.props
  eng/SourceBuild.props
  eng/Versions.props
  eng/build.ps1
  eng/build.sh
  eng/generate-vssdk-versions.csx
  eng/targets/DiaSymReaderNative.targets
  eng/targets/Imports.BeforeArcade.targets
  eng/targets/Imports.targets
  eng/targets/Settings.props
  eng/targets/TargetFrameworks.props
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Interactive/csi/csi.csproj
  src/Interactive/vbi/vbi.vbproj
  src/NuGet/Microsoft.Net.Compilers.Toolset/DesktopCompilerArtifacts.targets
  src/NuGet/VS.Tools.Roslyn.Package/VS.Tools.Roslyn.Package.csproj
  src/Setup/DevDivVsix/CompilersPackage/CompilersPackage.targets
  src/Setup/Installer/Installer.Package.csproj
  src/Workspaces/Core/MSBuild.BuildHost/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.csproj
  src/Workspaces/Core/MSBuild/Microsoft.CodeAnalysis.Workspaces.MSBuild.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

try converting to int before placing in log
  src/LanguageServer/Protocol/Handler/RequestTelemetryLogger.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Adjust an assert in EmitArgument (#75067)
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert ParamsCollectionTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/ParamsCollectionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add comment for symbol publishing task
  azure-pipelines.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add examples
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 9.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Address feedback
  src/Compilers/CSharp/Portable/Emitter/Model/MethodSymbolAdapter.cs
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Address feedback
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/ParamsCollectionTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add example of interpolated string breaking change
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fixes
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ReferencedModulesTests.cs
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/ReferencedModulesTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fixes
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/VisualBasic/CompilationTestUtils.vb
  src/Test/PdbUtilities/EditAndContinue/EditAndContinueTest.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Use the latest version of ILasm and enable a test not supported by the old version
  eng/Directory.Packages.props
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Address feedback
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix typo in RequestTelemetryLogger.UpdateTelemetryData (#75050)
  src/LanguageServer/Protocol/Handler/RequestTelemetryLogger.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Merged PR 42840: Update the internal branch
  azure-pipelines-official.yml
  eng/targets/Settings.props
  src/Features/Core/Portable/EditAndContinue/EmitSolutionUpdateResults.cs
  src/Features/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/TestUtilities/EditAndContinue/EditAndContinueWorkspaceTestBase.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.CompilationTracker.CompilationTrackerState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.GeneratedFileReplacingCompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.ICompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Adjust tests
  src/Compilers/CSharp/Test/Emit2/PDB/PDBUsingTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Use the latest version of ILasm and enable a test not supported by the old version (#75108)
  eng/Directory.Packages.props
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Field-backed properties: definite assignment
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove parameter
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Keep `try` syntax in async exception rewriting (#75070)
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Portable/Syntax/LambdaUtilities.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

remove unused using
  src/EditorFeatures/Core.Wpf/Lightup/LightupHelpers.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

More definite assignment; initial nullability support
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/LocalDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Test and document Span breaking changes (#75079)
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 10.md
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Remove the extension method in .NET 10
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml
