Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

azure-pipelines-integration-corehost.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - oop64bit: true
        lspEditor: false
  ...

azure-pipelines-integration.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  ...

azure-pipelines.yml:
  jobs:
  - template: eng/pipelines/build-windows-job.yml
    parameters:
      jobName: Build_Windows_Debug
      testArtifactName: Transport_Artifacts_Windows_Debug
      configuration: Debug
      queueName: windows.vs2019.amd64.open
  - template: eng/pipelines/build-windows-job.yml
    parameters:
  ...

azure-pipelines/microbuild.yml:
  jobs:
  - template: build.yml
    parameters:
      windowsPool: VSEng-MicroBuildVS2019

azure-pipelines/unofficial.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate
    parameters:
      sdl:
        sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
        suppression:
          suppressionFile: $(System.DefaultWorkingDirectory)\azure-pipelines\falsepositives.gdnsuppress
  ...

Move remote Razor unit tests
  Razor.slnf
  Roslyn.slnx
  src/Razor/Tests/Tooling/Microsoft.CodeAnalysis.Remote.Razor.UnitTests/ClientSettingsJsonSerializationTest.cs
  src/Razor/Tests/Tooling/Microsoft.CodeAnalysis.Remote.Razor.UnitTests/Microsoft.CodeAnalysis.Remote.Razor.UnitTests.csproj
  src/Razor/Tests/Tooling/Microsoft.CodeAnalysis.Remote.Razor.UnitTests/RazorServicesTest.cs
  src/Razor/Tests/Tooling/Microsoft.CodeAnalysis.Remote.Razor.UnitTests/RemoteMefCompositionTest.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move contained language unit tests
  Razor.slnf
  Roslyn.slnx
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/DefaultFileUriProviderTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/DefaultFormattingOptionsProviderTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/DefaultLSPDocumentFactoryTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/DefaultLSPDocumentManagerTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/DefaultLSPDocumentSynchronizerTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/DefaultLSPDocumentTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/LSPDocumentTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/MessageInterception/DefaultInterceptionManagerTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/MessageInterception/GenericInterceptionMiddleLayer_NewtonSoftJsonTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/MessageInterception/GenericInterceptionMiddleLayer_SystemTextJsonTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/MessageInterception/InterceptionMiddleLayerTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests.csproj
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/TestContentType.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/UriExtensionsTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/VirtualDocumentBaseTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/VirtualDocumentFactoryBaseTest.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.UnitTests/xunit.runner.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move Razor test common cohosting
  Roslyn.slnx
  src/Razor/Tests/Common/Microsoft.AspNetCore.Razor.Test.Common.Cohosting/CohostTestBase.cs
  src/Razor/Tests/Common/Microsoft.AspNetCore.Razor.Test.Common.Cohosting/Microsoft.AspNetCore.Razor.Test.Common.Cohosting.csproj
  src/Razor/Tests/Common/Microsoft.AspNetCore.Razor.Test.Common.Cohosting/RazorProjectBuilder.cs
  src/Razor/Tests/Common/Microsoft.AspNetCore.Razor.Test.Common.Cohosting/TestFileSystem.cs
  src/Razor/Tests/Common/Microsoft.AspNetCore.Razor.Test.Common.Cohosting/TestHtmlRequestInvoker.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudio.LanguageServices.Razor.UnitTests/Microsoft.VisualStudio.LanguageServices.Razor.UnitTests.csproj
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.RazorExtension.UnitTests/Microsoft.VisualStudioCode.RazorExtension.UnitTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move VS Code Razor integration tests
  Razor.slnf
  Roslyn.slnx
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/.copilot-instructions.md
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/CodeActionsTests.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/CompletionTests.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/DiagnosticsTests.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/FindReferencesTests.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/FormattingTests.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/GoToDefinitionTests.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/HoverTests.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Microsoft.VisualStudioCode.Razor.IntegrationTests.csproj
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/README.md
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/CodeActionService.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/CompletionServices.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/DiagnosticsServices.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/EditorService.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/FormattingServices.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/Helper.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/HoverServices.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/InputService.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/IntegrationTestServices.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/LoggerService.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/NavigationServices.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/PlaywrightService.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/RazorService.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/ServiceBase.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/SpecialKey.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/TestSettings.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/VSCodeIntegrationTestBase.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/VSCodeService.Installer.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/VSCodeService.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/Services/WorkspaceService.cs
  src/Razor/Tests/Tooling/Microsoft.VisualStudioCode.Razor.IntegrationTests/xunit.runner.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Refresh Razor test path docs
  .github/instructions/Razor.instructions.md
  .github/skills/formatting-log/SKILL.md
  .github/skills/formatting-log/scripts/Import-FormattingLog.ps1
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Simplify Razor solution layout
  Razor.slnf
  Roslyn.slnx
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Fix language server Razor extension path
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Microsoft.CodeAnalysis.LanguageServer.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Improve running on built-in roslyn
  src/VisualStudio/IntegrationTest/Harness/IntegrationTestServiceShared/IntegrationService.cs
  src/VisualStudio/IntegrationTest/Harness/XUnitShared/InProcess/VisualStudio_InProc.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Keep using roslyn hive
  eng/build.ps1
  src/VisualStudio/IntegrationTest/New.IntegrationTests/AbstractIntegrationTest.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/Microsoft.VisualStudio.LanguageServices.New.IntegrationTests.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Move workspace structure logging to the Workspaces layer
  src/VisualStudio/Core/Def/ProjectSystem/Logging/RoslynWorkspaceStructureLogger.cs
  src/Workspaces/Core/Portable/Log/WorkspaceStructureLogger.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

[release/dev17.14] Add override parameter
  azure-pipelines-official.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add Cocoa and Wpf editor features to PublishData.json
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Reverted publishdata to last known good
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Allow runtime directory assemblies in AnalyzerAssemblyLoader tests
  src/Compilers/Core/CodeAnalysisTest/InvokeUtil.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

[release/dev17.14] Add override parameter (#83672)
  azure-pipelines-official.yml
Due: azure-pipelines-integration-corehost.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Revert to last known good PublishData
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Localized file check-in by OneLocBuild Task: Build definition ID 327: Build ID 2974079
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add tests
  src/Workspaces/CoreTest/Log/WorkspaceStructureLoggerTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Revert to last known good PublishData.json (#83673)
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Revert to last known good PublishData (#83675)
  eng/config/PublishData.json
Due: azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add SVG, data-*, and id fallback to local HTML completion
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlAttributeGroups.Shared.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlAttributeGroups.Unique.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlAttributeInfo.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlAttributeKind.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlAttributeValueGroups.Shared.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlAttributeValueGroups.Unique.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlAttributes.Shared.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlAttributes.Unique.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlCompletionData.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlDescriptions.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlElementGroups.Shared.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlElementGroups.Unique.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlElementInfo.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlElementKind.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/Generated/HtmlElements.All.g.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/LocalHtmlCompletionProvider.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/Html/LocalHtmlCompletionProvider_Fallback.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/Completion/RemoteCompletionService.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.UnitTests/Completion/LocalHtmlCompletionProviderTest.cs
  src/Razor/src/Razor/tools/HtmlCompletionDataGenerator/SchemaParser.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add a LSP handler for workspace structure log
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServer/Handler/Logging/WorkspaceStructureLogHandler.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServer/Handler/Logging/WorkspaceStructureLogParams.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServer/Handler/Logging/WorkspaceStructureLogResponse.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

remove unnecessary usings
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.CohostingShared/FoldingRange/CohostFoldingRangeEndpoint.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Razor.CohostingShared/Rename/CohostPrepareRenameEndpoint.cs
  src/Razor/src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RemoteTagHelperSearchEngine.cs
  src/Razor/src/Razor/src/Microsoft.VisualStudioCode.RazorExtension/Services/HtmlRequestInvoker.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/CodeActions/CohostCodeActionsEndpointTestBase.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostCallHierarchyEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostDocumentCompletionEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostDocumentCompletionResolveEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostDocumentHighlightEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostGeneratedDocumentContentsEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostHoverEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostInlayHintEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostLinkedEditingRangeEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostOnAutoInsertEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostRenameEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.CodeAnalysis.Razor.CohostingShared.UnitTests/Endpoints/CohostSignatureHelpEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.UnitTests/Cohost/CohostRoslynCodeActionTest.cs
  src/Razor/src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.UnitTests/Cohost/CohostRoslynGoToDefTest.cs
  src/Razor/src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.UnitTests/Cohost/CohostSnippetCompletionTest.cs
  src/Razor/src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.UnitTests/Cohost/CohostTextPresentationEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.UnitTests/Cohost/CohostUriPresentationEndpointTest.cs
  src/Razor/src/Razor/test/Microsoft.VisualStudioCode.RazorExtension.UnitTests/Endpoints/CohostCodeLensEndpointTest.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Update xcopy-msbuild version to 17.8.5
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Add test
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/WorkspaceStructureLogTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Minor cleanup
  eng/Version.Details.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

IDE test pass for closed class
  src/Analyzers/CSharp/Tests/OrderModifiers/OrderModifiersTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ClassKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ClosedKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/RecordKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/KeywordCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ClassKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ClosedKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/RecordKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/UnsafeKeywordRecommender.cs
  src/Features/CSharp/Portable/Snippets/CSharpClassSnippetProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeGeneration/CSharpSyntaxTokens.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxTokenExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpAccessibilityFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Editing/Modifiers.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTreeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Utilities/SyntaxKindSet.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, azure-pipelines-compliance.yml, azure-pipelines-integration-dartlab.yml, azure-pipelines-integration-scouting.yml, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, eng/setup-pr-validation.ps1, .vscode, .github, azure-pipelines-official.yml, azure-pipelines-pr-validation.yml, CODE-OF-CONDUCT.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
