Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

azure-pipelines-integration-corehost.yml:
  jobs:
  - job: VS_Integration_CoreHost_Debug
    pool:
      name: ${{ parameters.poolName }}
      demands: ImageOverride -equals ${{ parameters.queueName }}
    timeoutInMinutes: ${{ parameters.timeout }}
    variables:
    - name: XUNIT_LOGS
      value: $(Build.SourcesDirectory)\artifacts\log\Debug
    steps:
  ...

azure-pipelines-integration.yml:
  stages:
  - stage: Debug_Integration
    dependsOn: []
    variables:
    - name: XUNIT_LOGS
      value: $(Build.SourcesDirectory)\artifacts\log\Debug
    jobs:
    - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - job: VS_Integration_Debug_32
        pool:
          name: ${{ parameters.poolName }}
  ...

azure-pipelines.yml:
  stages:
  - stage: Windows_Debug_Build
    dependsOn: []
    jobs:
    - template: eng/pipelines/build-windows-job.yml
      parameters:
        jobName: Build_Windows_Debug
        testArtifactName: Transport_Artifacts_Windows_Debug
        configuration: Debug
        poolName: $(PoolName)
  ...

azure-pipelines/microbuild.yml:
  jobs:
  - template: build.yml
    parameters:
      windowsPool: VSEng-MicroBuildVS2019

azure-pipelines/official.yml:
  stages:
  - stage: Build
    variables:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      BuildConfiguration: Release
      NUGET_PACKAGES: $(Agent.TempDirectory)/.nuget/packages
      MicroBuild_DoNotStrongNameSign: true
      SignTypeSelection: ${{ parameters.SignTypeSelection }}
  ...

Update src/Compilers/Core/CodeAnalysisTest/Text/SourceTextTests.cs
  src/Compilers/Core/CodeAnalysisTest/Text/SourceTextTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update src/Compilers/Core/Portable/Text/SourceText.cs
  src/Compilers/Core/Portable/Text/SourceText.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix captured variables analysis (#70810)
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/StatementEditingTests.vb
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/CSharpLambdaBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/FieldWithInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/OrdinaryInstanceConstructorWithExplicitInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/OrdinaryInstanceConstructorWithImplicitInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/PrimaryConstructorWithExplicitInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/PropertyOrIndexerAccessorDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/TopLevelCodeDeclarationBody.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractSimpleMemberBody.cs
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/FieldOrPropertyDeclarationBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/MethodBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/VisualBasicLambdaBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/SyntaxUtilities.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Simplify logic around `params` parameters in `OverloadResolution.AnalyzeArguments`
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution_ArgsToParameters.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add GetSemanticModel method with disableNullableAnalysis flag
  eng/config/globalconfigs/Common.globalconfig
  src/Compilers/CSharp/Portable/Compilation/AttributeSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/InitializerSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.SpeculativeMemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MethodBodySemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/Compilation/SemanticModelProvider.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CachingSemanticModelProvider.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Set CompilationOutputAssemblyFilePath correctly when DevKit is enabled
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/WorkspaceProject.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Set CompilationOutputAssemblyFilePath/IntermediateOutputPath on project creation
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectSystem.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectCreationInfo.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectFactory.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update CompilationOutputAssemblyPath when updating project info
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Pass project info to the Razor extension
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/RazorDynamicFileInfoProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add IsNullConditional property to IAwaitOperation
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add FeatureNullConditionalAwait message ID
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Return correct kind for PE lambdas
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PEMethodSymbol.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Tests
  src/Compilers/CSharp/Test/Symbol/Symbols/Metadata/PE/LoadingMethods.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/PE/LoadingMethods.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Use more specific return type for `Binder.ConvertCollectionExpression` method.
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add note about deeply nested expressions
  docs/contributing/Compiler Test Plan.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add note about deeply nested expressions (#70924)
  docs/contributing/Compiler Test Plan.md
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Fix override completion with nint/nuint parameters
  src/Workspaces/CoreTest/SymbolKeyTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.SymbolKeyReader.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/SymbolEquivalenceComparer.EquivalenceVisitor.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

- Updated InternalAPI
  src/Tools/ExternalAccess/Xaml/InternalAPI.Unshipped.txt
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Update src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/SymbolEquivalenceComparer.EquivalenceVisitor.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/SymbolEquivalenceComparer.EquivalenceVisitor.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Revert
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.SymbolKeyReader.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Address feedback
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundImplicitIndexerAccess.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Make sure document is frozen in semantic snippet provider
  src/Features/Core/Portable/Completion/Providers/Snippets/AbstractSnippetCompletionProvider.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Ship the aspnetcore external access assembly in vscode to enable route embedded language features
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Microsoft.CodeAnalysis.LanguageServer.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Use more specific return type for `Binder.ConvertCollectionExpression` method. (#70921)
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Simplify logic around `params` parameters in `OverloadResolution.AnalyzeArguments` (#70911)
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution_ArgsToParameters.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Localized file check-in by OneLocBuild Task: Build definition ID 327: Build ID 2317474
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Order items in cref completion by arity
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/CrefCompletionProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/Extensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Added test for named params parameter with an extra parameter
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Pass along ref information
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.ExpressionResult.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.StatementResult.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.Analyzer.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.AnalyzerResult.cs
  src/Features/Core/Portable/ExtractMethod/SelectionResult.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionResult.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Always use partial semantic in completion
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameRecommender.cs
  src/Features/CSharp/Portable/Debugging/DataTipInfoGetter.cs
  src/Features/Core/Portable/Completion/CompletionService_GetCompletions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

By ref
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

in progress
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.Analyzer.cs
  src/Features/Core/Portable/ExtractMethod/SelectionResult.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add test
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.cs
  src/Features/CSharpTest/ExtractMethod/ExtractMethodTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Handle missing ISimplifactionService implementation for non-C#/VB langauges
  src/Features/LanguageServer/ProtocolUnitTests/VSTypeScriptHandlerTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Simplification/SimplifierOptions.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Improve tests
  src/Compilers/CSharp/Test/Semantic/Semantics/ValueTupleTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Add tests
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOptimizedNullableOperators.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Avoid redundant `HasValue` call in lifted custom binary operator
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOptimizedNullableOperators.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Utilize IVsAsyncFileChangeEx2
  src/VisualStudio/Core/Def/ProjectSystem/FileChangeTracker.cs
  src/VisualStudio/Core/Def/ProjectSystem/FileChangeWatcher.cs
  src/VisualStudio/Core/Def/ProjectSystem/FileChangeWatcherProvider.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioRuleSetTests.vb
  src/VisualStudio/TestUtilities2/MockVsFileChangeEx.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Support banning base types
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/CSharp/CSharpSymbolIsBannedAnalyzer.cs
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/SymbolIsBannedAnalyzerBase.cs
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/UnitTests/SymbolIsBannedAnalyzerTests.cs
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/VisualBasic/BasicSymbolIsBannedAnalyzer.vb
  src/Test.Utilities/CSharpCodeFixVerifier`2+Test.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
