Repository dotnet/roslyn: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

azure-pipelines-integration-corehost.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - oop64bit: true
        lspEditor: false
  ...

azure-pipelines-integration.yml:
  stages:
  - template: eng/pipelines/test-integration-helix.yml
    parameters:
      poolName: ${{ parameters.poolName }}
      queueName: ${{ parameters.queueName }}
      timeout: ${{ parameters.timeout }}
      configuration: Debug
      testRuns:
      - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  ...

azure-pipelines.yml:
  stages:
  - stage: Windows_Debug_Build
    dependsOn: []
    jobs:
    - template: eng/pipelines/build-windows-job.yml
      parameters:
        jobName: Build_Windows_Debug
        testArtifactName: Transport_Artifacts_Windows_Debug
        configuration: Debug
        queueName: windows.vs2022preview.amd64.open
  ...

azure-pipelines/microbuild.yml:
  jobs:
  - template: build.yml
    parameters:
      windowsPool: VSEng-MicroBuildVS2019

azure-pipelines/official.yml:
  extends:
    ${{ if or(parameters.ForceOfficialBuild, eq(variables['Build.Reason'],'Schedule')) }}:
      template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
      parameters:
        sdl:
          sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
          codeSignValidation:
  ...

azure-pipelines/unofficial.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate
    parameters:
      sdl:
        sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
        suppression:
          suppressionFile: $(System.DefaultWorkingDirectory)\azure-pipelines\falsepositives.gdnsuppress
  ...

Update main-merge.yml to not run on forks
  .github/workflows/main-merge.yml
Due: azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Emit 'Extension' attribute on a type with an extension declaration. (#77573)
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Declarations/DeclarationTreeBuilder.cs
  src/Compilers/CSharp/Portable/Declarations/MergedTypeDeclaration.cs
  src/Compilers/CSharp/Portable/Declarations/SingleTypeDeclaration.cs
  src/Compilers/CSharp/Portable/Symbols/NamespaceSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtensionMethodTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix typo
  src/Compilers/Core/Portable/Symbols/INamedTypeSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Missed a spot
  src/Workspaces/Core/Portable/CodeActions/CodeAction_Cleanup.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

params
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/DictionaryExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix typo (#77595)
  src/Compilers/Core/Portable/Symbols/INamedTypeSymbol.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Simplify comparison. Use Assert.IsType<T>
  src/EditorFeatures/Test/StackTraceExplorer/StackTraceExplorerTests.cs
  src/Features/Core/Portable/StackTraceExplorer/StackTraceExplorerService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Update src/EditorFeatures/Test/StackTraceExplorer/StackTraceExplorerTests.cs
  src/EditorFeatures/Test/StackTraceExplorer/StackTraceExplorerTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Extensions: address some delegate conversion issues (#77574)
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Correctness
  src/Workspaces/Core/Portable/CodeActions/CodeAction_Cleanup.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Use MEF
  src/Features/Core/Portable/CustomMessageHandler/CustomMessageHandlerService.cs
  src/Features/Core/Portable/CustomMessageHandler/ICustomMessageHandlerService.cs
  src/Features/Core/Portable/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/CustomMessage/Internal/CustomMessageHandlerFactory.cs
  src/Tools/ExternalAccess/CustomMessage/PublicAPI.Unshipped.txt
  src/VisualStudio/Core/Def/LanguageServer/Handler/CustomMessage/CustomMessageDocumentHandler.cs
  src/VisualStudio/Core/Def/LanguageServer/Handler/CustomMessage/CustomMessageHandler.cs
  src/VisualStudio/Core/Def/LanguageServer/Handler/CustomMessage/CustomMessageUnloadHandler.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Remote/ServiceHub/Services/CustomMessageHandler/RemoteCustomMessageHandlerService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix out of bounds in text extent computation (#77402)
  src/EditorFeatures/CSharp/TextStructureNavigation/CSharpTextStructureNavigatorProvider.cs
  src/EditorFeatures/CSharpTest/TextStructureNavigation/TextStructureNavigatorTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

WIP: Attempt to further reduce thread switches during package load.
  src/VisualStudio/CSharp/Impl/CSharpPackage.cs
  src/VisualStudio/Core/Def/ColorSchemes/ColorSchemeApplier.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage`2.cs
  src/VisualStudio/Core/Def/Options/VisualStudioSettingsOptionPersister.cs
  src/VisualStudio/Core/Def/ProjectSystem/MiscellaneousFilesWorkspace.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicPackage.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Remove unintentional using.
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix analyzer complaint
  src/VisualStudio/Core/Def/RoslynPackage.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Relax signature collision rules for static extension methods
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

ConversionsBase.TryGetCollectionExpressionTypeKind
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.DebugVerifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/DictionaryExpressionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Update engineering.
  Directory.Packages.props
  global.json
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Revert "Update Versions.props for Dev18"
  eng/Versions.props
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Create data structure to encapsulate the package loading tasks
  src/VisualStudio/CSharp/Impl/CSharpPackage.cs
  src/VisualStudio/Core/Def/ColorSchemes/ColorSchemeApplier.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage`2.cs
  src/VisualStudio/Core/Def/LanguageService/PackageRegistrationTasks.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicPackage.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

some code review request fixups
  src/VisualStudio/CSharp/Impl/CSharpPackage.cs
  src/VisualStudio/Core/Def/ColorSchemes/ColorSchemeApplier.cs
  src/VisualStudio/Core/Def/LanguageService/PackageRegistrationTasks.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix
  src/Features/Core/Portable/CustomMessageHandler/CustomMessageHandlerService.cs
  src/Features/Core/Portable/CustomMessageHandler/ICustomMessageHandlerService.cs
  src/VisualStudio/Core/Def/LanguageServer/Handler/CustomMessage/CustomMessageDocumentHandler.cs
  src/VisualStudio/Core/Def/LanguageServer/Handler/CustomMessage/CustomMessageHandler.cs
  src/VisualStudio/Core/Def/LanguageServer/Handler/CustomMessage/CustomMessageUnloadHandler.cs
  src/Workspaces/Remote/ServiceHub/Services/CustomMessageHandler/RemoteCustomMessageHandlerService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

comment!
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage`2.cs
  src/VisualStudio/Core/Def/LanguageService/PackageRegistrationTasks.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspaceManager.cs
  src/Workspaces/Remote/ServiceHub/Services/CustomMessageHandler/RemoteCustomMessageHandlerService.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Extensions: update semantic model APIs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/LookupOptions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodGroup.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Extension.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Add simple extensions test
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fixup
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Extensions: flesh out behavior for some pattern-based binding scenarios
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Deconstruct.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Due: azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix find refs
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.ExtensionSymbols.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/TypeParameterSymbolReferenceFinder.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Fix find refs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/TypeSymbol.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/TypeSymbol.vb
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedNamedTypeSymbol.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.ParameterSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeGeneration/Symbols/CodeGenerationTypeSymbol.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Filter down the list of files we need to examing when looking for a :base(...) call in find refs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorInitializerSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/Shared/AbstractSyntaxIndex_Persistence.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.ContextInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Forwarders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxKinds.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Move feature-oriented helpers to appropriate location
  src/Features/CSharp/Portable/SolutionCrawler/CSharpDocumentDifferenceService.cs
  src/Features/Core/Portable/SolutionCrawler/AbstractDocumentDifferenceService.cs
  src/Features/VisualBasic/Portable/SolutionCrawler/VisualBasicDocumentDifferenceService.vb
  src/Workspaces/Remote/ServiceHub/Host/RemoteDocumentDifferenceService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

use an alias to simplify code Use a lock around clearing the work collection remove an unused local remove an unnecessary SwitchToMainThreadAsync call
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage`2.cs
  src/VisualStudio/Core/Def/LanguageService/PackageRegistrationTasks.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

wip
  src/EditorFeatures/Core.Wpf/QuickInfo/OnTheFlyDocsView.xaml.cs
  src/EditorFeatures/Core/Copilot/CopilotConstants.cs
  src/EditorFeatures/Core/DocumentationComments/CopilotGenerateDocumentationCommentProvider.cs
  src/EditorFeatures/Core/DocumentationComments/DocumentationCommentSuggestion.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

MUCH simpler using alias
  src/VisualStudio/Core/Def/LanguageService/PackageRegistrationTasks.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

1) Change the thread switching in ColorSchemeApplier 2) Move the lock usage in PackageRegistrationTasks, and duplicate the list to be processed.
  src/VisualStudio/Core/Def/ColorSchemes/ColorSchemeApplier.cs
  src/VisualStudio/Core/Def/LanguageService/PackageRegistrationTasks.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Ensure we don't touch Solution.Workspace if we don't have to
  src/Workspaces/Core/Portable/Workspace/Workspace_Events.cs
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Upgrade to VSSDK.BuildTools 17.14.1043-preview2
  eng/Versions.props
  eng/targets/VisualStudio.FastUpToDateCheckWorkarounds.targets
  eng/targets/VisualStudio.targets
  src/Compilers/Extension/Roslyn.Compilers.Extension.csproj
  src/VisualStudio/Setup.Dependencies/Roslyn.VisualStudio.Setup.Dependencies.csproj
  src/VisualStudio/Setup.ServiceHub/arm64/Roslyn.VisualStudio.ServiceHub.Setup.arm64.csproj
  src/VisualStudio/Setup.ServiceHub/x64/Roslyn.VisualStudio.ServiceHub.Setup.x64.csproj
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Port of https://github.com/dotnet/roslyn-analyzers/pull/7560
  eng/Versions.props
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.AnalyzerUtilities/Microsoft.CodeAnalysis.AnalyzerUtilities.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/CSharp/Microsoft.CodeAnalysis.CSharp.Analyzers.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/Microsoft.CodeAnalysis.Analyzers.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/UnitTests/Microsoft.CodeAnalysis.Analyzers.UnitTests.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/Microsoft.CodeAnalysis.VisualBasic.Analyzers.vbproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/CSharp/Microsoft.CodeAnalysis.CSharp.BannedApiAnalyzers.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/Microsoft.CodeAnalysis.BannedApiAnalyzers.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/UnitTests/Microsoft.CodeAnalysis.BannedApiAnalyzers.UnitTests.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/VisualBasic/Microsoft.CodeAnalysis.VisualBasic.BannedApiAnalyzers.vbproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.UnitTests/Microsoft.CodeAnalysis.ResxSourceGenerator.UnitTests.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.VisualBasic/Microsoft.CodeAnalysis.ResxSourceGenerator.VisualBasic.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.csproj
  src/RoslynAnalyzers/NuGet/Microsoft.CodeAnalysis.Metrics/Microsoft.CodeAnalysis.Metrics.Package.csproj
  src/RoslynAnalyzers/NuGet/Microsoft.CodeAnalysis.RulesetToEditorconfigConverter/Microsoft.CodeAnalysis.RulesetToEditorconfigConverter.Package.csproj
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/CSharp/Analyzers/Microsoft.CodeAnalysis.CSharp.PerformanceSensitiveAnalyzers.csproj
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/CSharp/CodeFixes/Microsoft.CodeAnalysis.CSharp.PerformanceSensitiveAnalyzers.CodeFixes.csproj
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/Core/Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers.csproj
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/UnitTests/Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers.UnitTests.csproj
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/Analyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.csproj
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/CodeFixes/Microsoft.CodeAnalysis.PublicApiAnalyzers.CodeFixes.csproj
  src/RoslynAnalyzers/PublicApiAnalyzers/UnitTests/Microsoft.CodeAnalysis.PublicApiAnalyzers.UnitTests.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/Roslyn.Diagnostics.CSharp.Analyzers.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/Core/Roslyn.Diagnostics.Analyzers.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/UnitTests/Roslyn.Diagnostics.Analyzers.UnitTests.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/Roslyn.Diagnostics.VisualBasic.Analyzers.vbproj
  src/RoslynAnalyzers/Test.Utilities/Test.Utilities.csproj
  src/RoslynAnalyzers/Text.Analyzers/CSharp/Text.CSharp.Analyzers.csproj
  src/RoslynAnalyzers/Text.Analyzers/Core/Text.Analyzers.csproj
  src/RoslynAnalyzers/Text.Analyzers/UnitTests/Text.Analyzers.UnitTests.csproj
  src/RoslynAnalyzers/Text.Analyzers/VisualBasic/Text.VisualBasic.Analyzers.vbproj
  src/RoslynAnalyzers/Tools/GenerateDocumentationAndConfigFiles/GenerateDocumentationAndConfigFiles.csproj
  src/RoslynAnalyzers/Tools/GenerateDocumentationAndConfigFilesForBrokenRuntime/GenerateDocumentationAndConfigFilesForBrokenRuntime.csproj
  src/RoslynAnalyzers/Tools/Metrics/Metrics.Legacy.csproj
  src/RoslynAnalyzers/Tools/Metrics/Metrics.csproj
  src/RoslynAnalyzers/Tools/RulesetToEditorconfigConverter/Source/RulesetToEditorconfigConverter.csproj
  src/RoslynAnalyzers/Utilities.UnitTests/Analyzer.Utilities.UnitTests.csproj
  src/RoslynAnalyzers/Utilities/Compiler/Analyzer.Utilities.projitems
Due: azure-pipelines-integration-corehost.yml, azure-pipelines-integration.yml, azure-pipelines.yml, azure-pipelines/microbuild.yml, azure-pipelines/official.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines-integration-corehost.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, src/Compilers, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines-integration.yml: any file but: docs, eng/config/OptProf.json, eng/config/PublishData.json, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, src/Compilers, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
  azure-pipelines.yml: any file but: docs, eng/config/PublishData.json, src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md, .vscode, .github, .devcontainer, .git-blame-ignore-revs, .vsconfig, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md
  azure-pipelines/microbuild.yml: any file but: doc, *.md, .vscode
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml
